
.mfv-42 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-42 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-42 { background-image: none; }
.mfv-42 .m-layer1 { background-image: none; }

.mfv-42.hovered { background-image: none; }
.mfv-42.hovered .m-layer1 { background-image: none; }

.mfv-42.selected { background-image: none; }
.mfv-42.selected .m-layer1 { background-image: none; }

.mfv-42.selected.hovered { background-image: none; }
.mfv-42.selected.hovered .m-layer1 { background-image: none; }
.mfv-42-state,
.mfv-42-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-42-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-42-state { background-image: none; }
.mfv-42-state .m-layer1 { background-image: none; }

.mfv-45 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-45 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-45 { background-image: none; }
.mfv-45 .m-layer1 { background-image: none; }

.mfv-45.hovered { background-image: none; }
.mfv-45.hovered .m-layer1 { background-image: none; }

.mfv-45.selected { background-image: none; }
.mfv-45.selected .m-layer1 { background-image: none; }

.mfv-45.selected.hovered { background-image: none; }
.mfv-45.selected.hovered .m-layer1 { background-image: none; }
.mfv-45-state,
.mfv-45-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-45-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-45-state { background-image: none; }
.mfv-45-state .m-layer1 { background-image: none; }

.mfv-46 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-46 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-46 { background-image: none; }
.mfv-46 .m-layer1 { background-image: none; }

.mfv-46.hovered { background-image: none; }
.mfv-46.hovered .m-layer1 { background-image: none; }

.mfv-46.selected { background-image: none; }
.mfv-46.selected .m-layer1 { background-image: none; }

.mfv-46.selected.hovered { background-image: none; }
.mfv-46.selected.hovered .m-layer1 { background-image: none; }
.mfv-46-state,
.mfv-46-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-46-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-46-state { background-image: none; }
.mfv-46-state .m-layer1 { background-image: none; }

.mfv-47 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-47 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-47 { background-image: none; }
.mfv-47 .m-layer1 { background-image: none; }

.mfv-47.hovered { background-image: none; }
.mfv-47.hovered .m-layer1 { background-image: none; }

.mfv-47.selected { background-image: none; }
.mfv-47.selected .m-layer1 { background-image: none; }

.mfv-47.selected.hovered { background-image: none; }
.mfv-47.selected.hovered .m-layer1 { background-image: none; }
.mfv-47-state,
.mfv-47-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-47-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-47-state { background-image: none; }
.mfv-47-state .m-layer1 { background-image: none; }

.mfv-48 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-48 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-48 { background-image: none; }
.mfv-48 .m-layer1 { background-image: none; }

.mfv-48.hovered { background-image: none; }
.mfv-48.hovered .m-layer1 { background-image: none; }

.mfv-48.selected { background-image: none; }
.mfv-48.selected .m-layer1 { background-image: none; }

.mfv-48.selected.hovered { background-image: none; }
.mfv-48.selected.hovered .m-layer1 { background-image: none; }
.mfv-48-state,
.mfv-48-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-48-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-48-state { background-image: none; }
.mfv-48-state .m-layer1 { background-image: none; }

.mfv-53 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-53 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-53 { background-image: none; }
.mfv-53 .m-layer1 { background-image: none; }

.mfv-53.hovered { background-image: none; }
.mfv-53.hovered .m-layer1 { background-image: none; }

.mfv-53.selected { background-image: none; }
.mfv-53.selected .m-layer1 { background-image: none; }

.mfv-53.selected.hovered { background-image: none; }
.mfv-53.selected.hovered .m-layer1 { background-image: none; }
.mfv-53-state,
.mfv-53-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-53-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-53-state { background-image: none; }
.mfv-53-state .m-layer1 { background-image: none; }

.mfv-58 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-58 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-58 { background-image: none; }
.mfv-58 .m-layer1 { background-image: none; }

.mfv-58.hovered { background-image: none; }
.mfv-58.hovered .m-layer1 { background-image: none; }

.mfv-58.selected { background-image: none; }
.mfv-58.selected .m-layer1 { background-image: none; }

.mfv-58.selected.hovered { background-image: none; }
.mfv-58.selected.hovered .m-layer1 { background-image: none; }
.mfv-58-state,
.mfv-58-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-58-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-58-state { background-image: none; }
.mfv-58-state .m-layer1 { background-image: none; }

.mfv-59 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-59 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-59 { background-image: none; }
.mfv-59 .m-layer1 { background-image: none; }

.mfv-59.hovered { background-image: none; }
.mfv-59.hovered .m-layer1 { background-image: none; }

.mfv-59.selected { background-image: none; }
.mfv-59.selected .m-layer1 { background-image: none; }

.mfv-59.selected.hovered { background-image: none; }
.mfv-59.selected.hovered .m-layer1 { background-image: none; }
.mfv-59-state,
.mfv-59-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-59-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-59-state { background-image: none; }
.mfv-59-state .m-layer1 { background-image: none; }

.mfv-62 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-62 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-62 { background-image: none; }
.mfv-62 .m-layer1 { background-image: none; }

.mfv-62.hovered { background-image: none; }
.mfv-62.hovered .m-layer1 { background-image: none; }

.mfv-62.selected { background-image: none; }
.mfv-62.selected .m-layer1 { background-image: none; }

.mfv-62.selected.hovered { background-image: none; }
.mfv-62.selected.hovered .m-layer1 { background-image: none; }
.mfv-62-state,
.mfv-62-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-62-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-62-state { background-image: none; }
.mfv-62-state .m-layer1 { background-image: none; }

