
.mfv-18 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-18 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-18 { background-image: none; }
.mfv-18 .m-layer1 { background-image: none; }

.mfv-18.hovered { background-image: none; }
.mfv-18.hovered .m-layer1 { background-image: none; }

.mfv-18.selected { background-image: none; }
.mfv-18.selected .m-layer1 { background-image: none; }

.mfv-18.selected.hovered { background-image: none; }
.mfv-18.selected.hovered .m-layer1 { background-image: none; }
.mfv-18-state,
.mfv-18-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-18-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-18-state { background-image: none; }
.mfv-18-state .m-layer1 { background-image: none; }

.mfv-19 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-19 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-19 { background-image: none; }
.mfv-19 .m-layer1 { background-image: none; }

.mfv-19.hovered { background-image: none; }
.mfv-19.hovered .m-layer1 { background-image: none; }

.mfv-19.selected { background-image: none; }
.mfv-19.selected .m-layer1 { background-image: none; }

.mfv-19.selected.hovered { background-image: none; }
.mfv-19.selected.hovered .m-layer1 { background-image: none; }
.mfv-19-state,
.mfv-19-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-19-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-19-state { background-image: none; }
.mfv-19-state .m-layer1 { background-image: none; }

.mfv-20 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-20 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-20 { background-image: none; }
.mfv-20 .m-layer1 { background-image: none; }

.mfv-20.hovered { background-image: none; }
.mfv-20.hovered .m-layer1 { background-image: none; }

.mfv-20.selected { background-image: none; }
.mfv-20.selected .m-layer1 { background-image: none; }

.mfv-20.selected.hovered { background-image: none; }
.mfv-20.selected.hovered .m-layer1 { background-image: none; }
.mfv-20-state,
.mfv-20-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20-state { background-image: none; }
.mfv-20-state .m-layer1 { background-image: none; }

.mfv-33 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-33 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-33 { background-image: none; }
.mfv-33 .m-layer1 { background-image: none; }

.mfv-33.hovered { background-image: none; }
.mfv-33.hovered .m-layer1 { background-image: none; }

.mfv-33.selected { background-image: none; }
.mfv-33.selected .m-layer1 { background-image: none; }

.mfv-33.selected.hovered { background-image: none; }
.mfv-33.selected.hovered .m-layer1 { background-image: none; }
.mfv-33-state,
.mfv-33-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-33-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-33-state { background-image: none; }
.mfv-33-state .m-layer1 { background-image: none; }

