
.mfv-69 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-69 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-69 { background-image: none; }
.mfv-69 .m-layer1 { background-image: none; }

.mfv-69.hovered { background-image: none; }
.mfv-69.hovered .m-layer1 { background-image: none; }

.mfv-69.selected { background-image: none; }
.mfv-69.selected .m-layer1 { background-image: none; }

.mfv-69.selected.hovered { background-image: none; }
.mfv-69.selected.hovered .m-layer1 { background-image: none; }
.mfv-69-state,
.mfv-69-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-69-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-69-state { background-image: none; }
.mfv-69-state .m-layer1 { background-image: none; }

.mfv-113 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-113 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-113 { background-image: none; }
.mfv-113 .m-layer1 { background-image: none; }

.mfv-113.hovered { background-image: none; }
.mfv-113.hovered .m-layer1 { background-image: none; }

.mfv-113.selected { background-image: none; }
.mfv-113.selected .m-layer1 { background-image: none; }

.mfv-113.selected.hovered { background-image: none; }
.mfv-113.selected.hovered .m-layer1 { background-image: none; }
.mfv-113-state,
.mfv-113-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-113-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-113-state { background-image: none; }
.mfv-113-state .m-layer1 { background-image: none; }

.mfv-178 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-178 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-178 { background-image: none; }
.mfv-178 .m-layer1 { background-image: none; }

.mfv-178.hovered { background-image: none; }
.mfv-178.hovered .m-layer1 { background-image: none; }

.mfv-178.selected { background-image: none; }
.mfv-178.selected .m-layer1 { background-image: none; }

.mfv-178.selected.hovered { background-image: none; }
.mfv-178.selected.hovered .m-layer1 { background-image: none; }
.mfv-178-state,
.mfv-178-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-178-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-178-state { background-image: none; }
.mfv-178-state .m-layer1 { background-image: none; }

