
.mfv-44 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-44 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-44 { background-image: none; }
.mfv-44 .m-layer1 { background-image: none; }

.mfv-44.hovered { background-image: none; }
.mfv-44.hovered .m-layer1 { background-image: none; }

.mfv-44.selected { background-image: none; }
.mfv-44.selected .m-layer1 { background-image: none; }

.mfv-44.selected.hovered { background-image: none; }
.mfv-44.selected.hovered .m-layer1 { background-image: none; }
.mfv-44-state,
.mfv-44-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-44-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-44-state { background-image: none; }
.mfv-44-state .m-layer1 { background-image: none; }

.mfv-55 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-55 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-55 { background-image: none; }
.mfv-55 .m-layer1 { background-image: none; }

.mfv-55.hovered { background-image: none; }
.mfv-55.hovered .m-layer1 { background-image: none; }

.mfv-55.selected { background-image: none; }
.mfv-55.selected .m-layer1 { background-image: none; }

.mfv-55.selected.hovered { background-image: none; }
.mfv-55.selected.hovered .m-layer1 { background-image: none; }
.mfv-55-state,
.mfv-55-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-55-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-55-state { background-image: none; }
.mfv-55-state .m-layer1 { background-image: none; }

.mfv-61 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-61 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-61 { background-image: none; }
.mfv-61 .m-layer1 { background-image: none; }

.mfv-61.hovered { background-image: none; }
.mfv-61.hovered .m-layer1 { background-image: none; }

.mfv-61.selected { background-image: none; }
.mfv-61.selected .m-layer1 { background-image: none; }

.mfv-61.selected.hovered { background-image: none; }
.mfv-61.selected.hovered .m-layer1 { background-image: none; }
.mfv-61-state,
.mfv-61-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-61-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-61-state { background-image: none; }
.mfv-61-state .m-layer1 { background-image: none; }

.mfv-66 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-66 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-66 { background-image: none; }
.mfv-66 .m-layer1 { background-image: none; }

.mfv-66.hovered { background-image: none; }
.mfv-66.hovered .m-layer1 { background-image: none; }

.mfv-66.selected { background-image: none; }
.mfv-66.selected .m-layer1 { background-image: none; }

.mfv-66.selected.hovered { background-image: none; }
.mfv-66.selected.hovered .m-layer1 { background-image: none; }
.mfv-66-state,
.mfv-66-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-66-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-66-state { background-image: none; }
.mfv-66-state .m-layer1 { background-image: none; }

.mfv-70 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-70 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-70 { background-image: none; }
.mfv-70 .m-layer1 { background-image: none; }

.mfv-70.hovered { background-image: none; }
.mfv-70.hovered .m-layer1 { background-image: none; }

.mfv-70.selected { background-image: none; }
.mfv-70.selected .m-layer1 { background-image: none; }

.mfv-70.selected.hovered { background-image: none; }
.mfv-70.selected.hovered .m-layer1 { background-image: none; }
.mfv-70-state,
.mfv-70-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-70-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-70-state { background-image: none; }
.mfv-70-state .m-layer1 { background-image: none; }

.mfv-88 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-88 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-88 { background-image: none; }
.mfv-88 .m-layer1 { background-image: none; }

.mfv-88.hovered { background-image: none; }
.mfv-88.hovered .m-layer1 { background-image: none; }

.mfv-88.selected { background-image: none; }
.mfv-88.selected .m-layer1 { background-image: none; }

.mfv-88.selected.hovered { background-image: none; }
.mfv-88.selected.hovered .m-layer1 { background-image: none; }
.mfv-88-state,
.mfv-88-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-88-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-88-state { background-image: none; }
.mfv-88-state .m-layer1 { background-image: none; }

.mfv-96 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-96 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-96 { background-image: none; }
.mfv-96 .m-layer1 { background-image: none; }

.mfv-96.hovered { background-image: none; }
.mfv-96.hovered .m-layer1 { background-image: none; }

.mfv-96.selected { background-image: none; }
.mfv-96.selected .m-layer1 { background-image: none; }

.mfv-96.selected.hovered { background-image: none; }
.mfv-96.selected.hovered .m-layer1 { background-image: none; }
.mfv-96-state,
.mfv-96-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-96-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-96-state { background-image: none; }
.mfv-96-state .m-layer1 { background-image: none; }

.mfv-99 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-99 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-99 { background-image: none; }
.mfv-99 .m-layer1 { background-image: none; }

.mfv-99.hovered { background-image: none; }
.mfv-99.hovered .m-layer1 { background-image: none; }

.mfv-99.selected { background-image: none; }
.mfv-99.selected .m-layer1 { background-image: none; }

.mfv-99.selected.hovered { background-image: none; }
.mfv-99.selected.hovered .m-layer1 { background-image: none; }
.mfv-99-state,
.mfv-99-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-99-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-99-state { background-image: none; }
.mfv-99-state .m-layer1 { background-image: none; }

.mfv-102 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-102 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-102 { background-image: none; }
.mfv-102 .m-layer1 { background-image: none; }

.mfv-102.hovered { background-image: none; }
.mfv-102.hovered .m-layer1 { background-image: none; }

.mfv-102.selected { background-image: none; }
.mfv-102.selected .m-layer1 { background-image: none; }

.mfv-102.selected.hovered { background-image: none; }
.mfv-102.selected.hovered .m-layer1 { background-image: none; }
.mfv-102-state,
.mfv-102-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-102-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-102-state { background-image: none; }
.mfv-102-state .m-layer1 { background-image: none; }

.mfv-104 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-104 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-104 { background-image: none; }
.mfv-104 .m-layer1 { background-image: none; }

.mfv-104.hovered { background-image: none; }
.mfv-104.hovered .m-layer1 { background-image: none; }

.mfv-104.selected { background-image: none; }
.mfv-104.selected .m-layer1 { background-image: none; }

.mfv-104.selected.hovered { background-image: none; }
.mfv-104.selected.hovered .m-layer1 { background-image: none; }
.mfv-104-state,
.mfv-104-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-104-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-104-state { background-image: none; }
.mfv-104-state .m-layer1 { background-image: none; }

.mfv-114 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-114 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-114 { background-image: none; }
.mfv-114 .m-layer1 { background-image: none; }

.mfv-114.hovered { background-image: none; }
.mfv-114.hovered .m-layer1 { background-image: none; }

.mfv-114.selected { background-image: none; }
.mfv-114.selected .m-layer1 { background-image: none; }

.mfv-114.selected.hovered { background-image: none; }
.mfv-114.selected.hovered .m-layer1 { background-image: none; }
.mfv-114-state,
.mfv-114-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-114-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-114-state { background-image: none; }
.mfv-114-state .m-layer1 { background-image: none; }

.mfv-117 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-117 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-117 { background-image: none; }
.mfv-117 .m-layer1 { background-image: none; }

.mfv-117.hovered { background-image: none; }
.mfv-117.hovered .m-layer1 { background-image: none; }

.mfv-117.selected { background-image: none; }
.mfv-117.selected .m-layer1 { background-image: none; }

.mfv-117.selected.hovered { background-image: none; }
.mfv-117.selected.hovered .m-layer1 { background-image: none; }
.mfv-117-state,
.mfv-117-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-117-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-117-state { background-image: none; }
.mfv-117-state .m-layer1 { background-image: none; }

.mfv-124 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-124 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-124 { background-image: none; }
.mfv-124 .m-layer1 { background-image: none; }

.mfv-124.hovered { background-image: none; }
.mfv-124.hovered .m-layer1 { background-image: none; }

.mfv-124.selected { background-image: none; }
.mfv-124.selected .m-layer1 { background-image: none; }

.mfv-124.selected.hovered { background-image: none; }
.mfv-124.selected.hovered .m-layer1 { background-image: none; }
.mfv-124-state,
.mfv-124-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-124-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-124-state { background-image: none; }
.mfv-124-state .m-layer1 { background-image: none; }

.mfv-126 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-126 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-126 { background-image: none; }
.mfv-126 .m-layer1 { background-image: none; }

.mfv-126.hovered { background-image: none; }
.mfv-126.hovered .m-layer1 { background-image: none; }

.mfv-126.selected { background-image: none; }
.mfv-126.selected .m-layer1 { background-image: none; }

.mfv-126.selected.hovered { background-image: none; }
.mfv-126.selected.hovered .m-layer1 { background-image: none; }
.mfv-126-state,
.mfv-126-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-126-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-126-state { background-image: none; }
.mfv-126-state .m-layer1 { background-image: none; }

.mfv-129 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-129 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-129 { background-image: none; }
.mfv-129 .m-layer1 { background-image: none; }

.mfv-129.hovered { background-image: none; }
.mfv-129.hovered .m-layer1 { background-image: none; }

.mfv-129.selected { background-image: none; }
.mfv-129.selected .m-layer1 { background-image: none; }

.mfv-129.selected.hovered { background-image: none; }
.mfv-129.selected.hovered .m-layer1 { background-image: none; }
.mfv-129-state,
.mfv-129-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-129-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-129-state { background-image: none; }
.mfv-129-state .m-layer1 { background-image: none; }

.mfv-143 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-143 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-143 { background-image: none; }
.mfv-143 .m-layer1 { background-image: none; }

.mfv-143.hovered { background-image: none; }
.mfv-143.hovered .m-layer1 { background-image: none; }

.mfv-143.selected { background-image: none; }
.mfv-143.selected .m-layer1 { background-image: none; }

.mfv-143.selected.hovered { background-image: none; }
.mfv-143.selected.hovered .m-layer1 { background-image: none; }
.mfv-143-state,
.mfv-143-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-143-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-143-state { background-image: none; }
.mfv-143-state .m-layer1 { background-image: none; }

.mfv-162 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-162 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-162 { background-image: none; }
.mfv-162 .m-layer1 { background-image: none; }

.mfv-162.hovered { background-image: none; }
.mfv-162.hovered .m-layer1 { background-image: none; }

.mfv-162.selected { background-image: none; }
.mfv-162.selected .m-layer1 { background-image: none; }

.mfv-162.selected.hovered { background-image: none; }
.mfv-162.selected.hovered .m-layer1 { background-image: none; }
.mfv-162-state,
.mfv-162-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-162-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-162-state { background-image: none; }
.mfv-162-state .m-layer1 { background-image: none; }

.mfv-168 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-168 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-168 { background-image: none; }
.mfv-168 .m-layer1 { background-image: none; }

.mfv-168.hovered { background-image: none; }
.mfv-168.hovered .m-layer1 { background-image: none; }

.mfv-168.selected { background-image: none; }
.mfv-168.selected .m-layer1 { background-image: none; }

.mfv-168.selected.hovered { background-image: none; }
.mfv-168.selected.hovered .m-layer1 { background-image: none; }
.mfv-168-state,
.mfv-168-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-168-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-168-state { background-image: none; }
.mfv-168-state .m-layer1 { background-image: none; }

