
.mfv-43 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-43 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-43 { background-image: none; }
.mfv-43 .m-layer1 { background-image: none; }

.mfv-43.hovered { background-image: none; }
.mfv-43.hovered .m-layer1 { background-image: none; }

.mfv-43.selected { background-image: none; }
.mfv-43.selected .m-layer1 { background-image: none; }

.mfv-43.selected.hovered { background-image: none; }
.mfv-43.selected.hovered .m-layer1 { background-image: none; }
.mfv-43-state,
.mfv-43-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-43-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-43-state { background-image: none; }
.mfv-43-state .m-layer1 { background-image: none; }

.mfv-54 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-54 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-54 { background-image: none; }
.mfv-54 .m-layer1 { background-image: none; }

.mfv-54.hovered { background-image: none; }
.mfv-54.hovered .m-layer1 { background-image: none; }

.mfv-54.selected { background-image: none; }
.mfv-54.selected .m-layer1 { background-image: none; }

.mfv-54.selected.hovered { background-image: none; }
.mfv-54.selected.hovered .m-layer1 { background-image: none; }
.mfv-54-state,
.mfv-54-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-54-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-54-state { background-image: none; }
.mfv-54-state .m-layer1 { background-image: none; }

.mfv-57 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-57 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-57 { background-image: none; }
.mfv-57 .m-layer1 { background-image: none; }

.mfv-57.hovered { background-image: none; }
.mfv-57.hovered .m-layer1 { background-image: none; }

.mfv-57.selected { background-image: none; }
.mfv-57.selected .m-layer1 { background-image: none; }

.mfv-57.selected.hovered { background-image: none; }
.mfv-57.selected.hovered .m-layer1 { background-image: none; }
.mfv-57-state,
.mfv-57-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-57-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-57-state { background-image: none; }
.mfv-57-state .m-layer1 { background-image: none; }

.mfv-60 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-60 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-60 { background-image: none; }
.mfv-60 .m-layer1 { background-image: none; }

.mfv-60.hovered { background-image: none; }
.mfv-60.hovered .m-layer1 { background-image: none; }

.mfv-60.selected { background-image: none; }
.mfv-60.selected .m-layer1 { background-image: none; }

.mfv-60.selected.hovered { background-image: none; }
.mfv-60.selected.hovered .m-layer1 { background-image: none; }
.mfv-60-state,
.mfv-60-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-60-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-60-state { background-image: none; }
.mfv-60-state .m-layer1 { background-image: none; }

.mfv-64 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-64 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-64 { background-image: none; }
.mfv-64 .m-layer1 { background-image: none; }

.mfv-64.hovered { background-image: none; }
.mfv-64.hovered .m-layer1 { background-image: none; }

.mfv-64.selected { background-image: none; }
.mfv-64.selected .m-layer1 { background-image: none; }

.mfv-64.selected.hovered { background-image: none; }
.mfv-64.selected.hovered .m-layer1 { background-image: none; }
.mfv-64-state,
.mfv-64-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-64-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-64-state { background-image: none; }
.mfv-64-state .m-layer1 { background-image: none; }

.mfv-65 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-65 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-65 { background-image: none; }
.mfv-65 .m-layer1 { background-image: none; }

.mfv-65.hovered { background-image: none; }
.mfv-65.hovered .m-layer1 { background-image: none; }

.mfv-65.selected { background-image: none; }
.mfv-65.selected .m-layer1 { background-image: none; }

.mfv-65.selected.hovered { background-image: none; }
.mfv-65.selected.hovered .m-layer1 { background-image: none; }
.mfv-65-state,
.mfv-65-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-65-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-65-state { background-image: none; }
.mfv-65-state .m-layer1 { background-image: none; }

.mfv-67 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-67 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-67 { background-image: none; }
.mfv-67 .m-layer1 { background-image: none; }

.mfv-67.hovered { background-image: none; }
.mfv-67.hovered .m-layer1 { background-image: none; }

.mfv-67.selected { background-image: none; }
.mfv-67.selected .m-layer1 { background-image: none; }

.mfv-67.selected.hovered { background-image: none; }
.mfv-67.selected.hovered .m-layer1 { background-image: none; }
.mfv-67-state,
.mfv-67-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-67-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-67-state { background-image: none; }
.mfv-67-state .m-layer1 { background-image: none; }

.mfv-87 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-87 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-87 { background-image: none; }
.mfv-87 .m-layer1 { background-image: none; }

.mfv-87.hovered { background-image: none; }
.mfv-87.hovered .m-layer1 { background-image: none; }

.mfv-87.selected { background-image: none; }
.mfv-87.selected .m-layer1 { background-image: none; }

.mfv-87.selected.hovered { background-image: none; }
.mfv-87.selected.hovered .m-layer1 { background-image: none; }
.mfv-87-state,
.mfv-87-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-87-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-87-state { background-image: none; }
.mfv-87-state .m-layer1 { background-image: none; }

.mfv-89 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-89 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-89 { background-image: none; }
.mfv-89 .m-layer1 { background-image: none; }

.mfv-89.hovered { background-image: none; }
.mfv-89.hovered .m-layer1 { background-image: none; }

.mfv-89.selected { background-image: none; }
.mfv-89.selected .m-layer1 { background-image: none; }

.mfv-89.selected.hovered { background-image: none; }
.mfv-89.selected.hovered .m-layer1 { background-image: none; }
.mfv-89-state,
.mfv-89-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-89-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-89-state { background-image: none; }
.mfv-89-state .m-layer1 { background-image: none; }

.mfv-90 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-90 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-90 { background-image: none; }
.mfv-90 .m-layer1 { background-image: none; }

.mfv-90.hovered { background-image: none; }
.mfv-90.hovered .m-layer1 { background-image: none; }

.mfv-90.selected { background-image: none; }
.mfv-90.selected .m-layer1 { background-image: none; }

.mfv-90.selected.hovered { background-image: none; }
.mfv-90.selected.hovered .m-layer1 { background-image: none; }
.mfv-90-state,
.mfv-90-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-90-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-90-state { background-image: none; }
.mfv-90-state .m-layer1 { background-image: none; }

.mfv-91 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-91 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-91 { background-image: none; }
.mfv-91 .m-layer1 { background-image: none; }

.mfv-91.hovered { background-image: none; }
.mfv-91.hovered .m-layer1 { background-image: none; }

.mfv-91.selected { background-image: none; }
.mfv-91.selected .m-layer1 { background-image: none; }

.mfv-91.selected.hovered { background-image: none; }
.mfv-91.selected.hovered .m-layer1 { background-image: none; }
.mfv-91-state,
.mfv-91-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-91-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-91-state { background-image: none; }
.mfv-91-state .m-layer1 { background-image: none; }

.mfv-93 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-93 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-93 { background-image: none; }
.mfv-93 .m-layer1 { background-image: none; }

.mfv-93.hovered { background-image: none; }
.mfv-93.hovered .m-layer1 { background-image: none; }

.mfv-93.selected { background-image: none; }
.mfv-93.selected .m-layer1 { background-image: none; }

.mfv-93.selected.hovered { background-image: none; }
.mfv-93.selected.hovered .m-layer1 { background-image: none; }
.mfv-93-state,
.mfv-93-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-93-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-93-state { background-image: none; }
.mfv-93-state .m-layer1 { background-image: none; }

.mfv-94 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-94 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-94 { background-image: none; }
.mfv-94 .m-layer1 { background-image: none; }

.mfv-94.hovered { background-image: none; }
.mfv-94.hovered .m-layer1 { background-image: none; }

.mfv-94.selected { background-image: none; }
.mfv-94.selected .m-layer1 { background-image: none; }

.mfv-94.selected.hovered { background-image: none; }
.mfv-94.selected.hovered .m-layer1 { background-image: none; }
.mfv-94-state,
.mfv-94-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-94-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-94-state { background-image: none; }
.mfv-94-state .m-layer1 { background-image: none; }

.mfv-95 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-95 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-95 { background-image: none; }
.mfv-95 .m-layer1 { background-image: none; }

.mfv-95.hovered { background-image: none; }
.mfv-95.hovered .m-layer1 { background-image: none; }

.mfv-95.selected { background-image: none; }
.mfv-95.selected .m-layer1 { background-image: none; }

.mfv-95.selected.hovered { background-image: none; }
.mfv-95.selected.hovered .m-layer1 { background-image: none; }
.mfv-95-state,
.mfv-95-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-95-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-95-state { background-image: none; }
.mfv-95-state .m-layer1 { background-image: none; }

.mfv-100 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-100 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-100 { background-image: none; }
.mfv-100 .m-layer1 { background-image: none; }

.mfv-100.hovered { background-image: none; }
.mfv-100.hovered .m-layer1 { background-image: none; }

.mfv-100.selected { background-image: none; }
.mfv-100.selected .m-layer1 { background-image: none; }

.mfv-100.selected.hovered { background-image: none; }
.mfv-100.selected.hovered .m-layer1 { background-image: none; }
.mfv-100-state,
.mfv-100-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-100-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-100-state { background-image: none; }
.mfv-100-state .m-layer1 { background-image: none; }

.mfv-105 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-105 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-105 { background-image: none; }
.mfv-105 .m-layer1 { background-image: none; }

.mfv-105.hovered { background-image: none; }
.mfv-105.hovered .m-layer1 { background-image: none; }

.mfv-105.selected { background-image: none; }
.mfv-105.selected .m-layer1 { background-image: none; }

.mfv-105.selected.hovered { background-image: none; }
.mfv-105.selected.hovered .m-layer1 { background-image: none; }
.mfv-105-state,
.mfv-105-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-105-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-105-state { background-image: none; }
.mfv-105-state .m-layer1 { background-image: none; }

.mfv-106 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-106 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-106 { background-image: none; }
.mfv-106 .m-layer1 { background-image: none; }

.mfv-106.hovered { background-image: none; }
.mfv-106.hovered .m-layer1 { background-image: none; }

.mfv-106.selected { background-image: none; }
.mfv-106.selected .m-layer1 { background-image: none; }

.mfv-106.selected.hovered { background-image: none; }
.mfv-106.selected.hovered .m-layer1 { background-image: none; }
.mfv-106-state,
.mfv-106-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-106-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-106-state { background-image: none; }
.mfv-106-state .m-layer1 { background-image: none; }

.mfv-107 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-107 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-107 { background-image: none; }
.mfv-107 .m-layer1 { background-image: none; }

.mfv-107.hovered { background-image: none; }
.mfv-107.hovered .m-layer1 { background-image: none; }

.mfv-107.selected { background-image: none; }
.mfv-107.selected .m-layer1 { background-image: none; }

.mfv-107.selected.hovered { background-image: none; }
.mfv-107.selected.hovered .m-layer1 { background-image: none; }
.mfv-107-state,
.mfv-107-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-107-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-107-state { background-image: none; }
.mfv-107-state .m-layer1 { background-image: none; }

.mfv-109 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-109 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-109 { background-image: none; }
.mfv-109 .m-layer1 { background-image: none; }

.mfv-109.hovered { background-image: none; }
.mfv-109.hovered .m-layer1 { background-image: none; }

.mfv-109.selected { background-image: none; }
.mfv-109.selected .m-layer1 { background-image: none; }

.mfv-109.selected.hovered { background-image: none; }
.mfv-109.selected.hovered .m-layer1 { background-image: none; }
.mfv-109-state,
.mfv-109-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-109-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-109-state { background-image: none; }
.mfv-109-state .m-layer1 { background-image: none; }

.mfv-111 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-111 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-111 { background-image: none; }
.mfv-111 .m-layer1 { background-image: none; }

.mfv-111.hovered { background-image: none; }
.mfv-111.hovered .m-layer1 { background-image: none; }

.mfv-111.selected { background-image: none; }
.mfv-111.selected .m-layer1 { background-image: none; }

.mfv-111.selected.hovered { background-image: none; }
.mfv-111.selected.hovered .m-layer1 { background-image: none; }
.mfv-111-state,
.mfv-111-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-111-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-111-state { background-image: none; }
.mfv-111-state .m-layer1 { background-image: none; }

.mfv-116 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-116 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-116 { background-image: none; }
.mfv-116 .m-layer1 { background-image: none; }

.mfv-116.hovered { background-image: none; }
.mfv-116.hovered .m-layer1 { background-image: none; }

.mfv-116.selected { background-image: none; }
.mfv-116.selected .m-layer1 { background-image: none; }

.mfv-116.selected.hovered { background-image: none; }
.mfv-116.selected.hovered .m-layer1 { background-image: none; }
.mfv-116-state,
.mfv-116-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-116-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-116-state { background-image: none; }
.mfv-116-state .m-layer1 { background-image: none; }

.mfv-118 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-118 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-118 { background-image: none; }
.mfv-118 .m-layer1 { background-image: none; }

.mfv-118.hovered { background-image: none; }
.mfv-118.hovered .m-layer1 { background-image: none; }

.mfv-118.selected { background-image: none; }
.mfv-118.selected .m-layer1 { background-image: none; }

.mfv-118.selected.hovered { background-image: none; }
.mfv-118.selected.hovered .m-layer1 { background-image: none; }
.mfv-118-state,
.mfv-118-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-118-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-118-state { background-image: none; }
.mfv-118-state .m-layer1 { background-image: none; }

.mfv-121 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-121 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-121 { background-image: none; }
.mfv-121 .m-layer1 { background-image: none; }

.mfv-121.hovered { background-image: none; }
.mfv-121.hovered .m-layer1 { background-image: none; }

.mfv-121.selected { background-image: none; }
.mfv-121.selected .m-layer1 { background-image: none; }

.mfv-121.selected.hovered { background-image: none; }
.mfv-121.selected.hovered .m-layer1 { background-image: none; }
.mfv-121-state,
.mfv-121-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-121-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-121-state { background-image: none; }
.mfv-121-state .m-layer1 { background-image: none; }

.mfv-123 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-123 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-123 { background-image: none; }
.mfv-123 .m-layer1 { background-image: none; }

.mfv-123.hovered { background-image: none; }
.mfv-123.hovered .m-layer1 { background-image: none; }

.mfv-123.selected { background-image: none; }
.mfv-123.selected .m-layer1 { background-image: none; }

.mfv-123.selected.hovered { background-image: none; }
.mfv-123.selected.hovered .m-layer1 { background-image: none; }
.mfv-123-state,
.mfv-123-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-123-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-123-state { background-image: none; }
.mfv-123-state .m-layer1 { background-image: none; }

.mfv-131 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-131 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-131 { background-image: none; }
.mfv-131 .m-layer1 { background-image: none; }

.mfv-131.hovered { background-image: none; }
.mfv-131.hovered .m-layer1 { background-image: none; }

.mfv-131.selected { background-image: none; }
.mfv-131.selected .m-layer1 { background-image: none; }

.mfv-131.selected.hovered { background-image: none; }
.mfv-131.selected.hovered .m-layer1 { background-image: none; }
.mfv-131-state,
.mfv-131-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-131-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-131-state { background-image: none; }
.mfv-131-state .m-layer1 { background-image: none; }

.mfv-154 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-154 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-154 { background-image: none; }
.mfv-154 .m-layer1 { background-image: none; }

.mfv-154.hovered { background-image: none; }
.mfv-154.hovered .m-layer1 { background-image: none; }

.mfv-154.selected { background-image: none; }
.mfv-154.selected .m-layer1 { background-image: none; }

.mfv-154.selected.hovered { background-image: none; }
.mfv-154.selected.hovered .m-layer1 { background-image: none; }
.mfv-154-state,
.mfv-154-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-154-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-154-state { background-image: none; }
.mfv-154-state .m-layer1 { background-image: none; }

.mfv-157 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-157 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-157 { background-image: none; }
.mfv-157 .m-layer1 { background-image: none; }

.mfv-157.hovered { background-image: none; }
.mfv-157.hovered .m-layer1 { background-image: none; }

.mfv-157.selected { background-image: none; }
.mfv-157.selected .m-layer1 { background-image: none; }

.mfv-157.selected.hovered { background-image: none; }
.mfv-157.selected.hovered .m-layer1 { background-image: none; }
.mfv-157-state,
.mfv-157-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-157-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-157-state { background-image: none; }
.mfv-157-state .m-layer1 { background-image: none; }

.mfv-174 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-174 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-174 { background-image: none; }
.mfv-174 .m-layer1 { background-image: none; }

.mfv-174.hovered { background-image: none; }
.mfv-174.hovered .m-layer1 { background-image: none; }

.mfv-174.selected { background-image: none; }
.mfv-174.selected .m-layer1 { background-image: none; }

.mfv-174.selected.hovered { background-image: none; }
.mfv-174.selected.hovered .m-layer1 { background-image: none; }
.mfv-174-state,
.mfv-174-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-174-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-174-state { background-image: none; }
.mfv-174-state .m-layer1 { background-image: none; }

.mfv-175 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-175 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-175 { background-image: none; }
.mfv-175 .m-layer1 { background-image: none; }

.mfv-175.hovered { background-image: none; }
.mfv-175.hovered .m-layer1 { background-image: none; }

.mfv-175.selected { background-image: none; }
.mfv-175.selected .m-layer1 { background-image: none; }

.mfv-175.selected.hovered { background-image: none; }
.mfv-175.selected.hovered .m-layer1 { background-image: none; }
.mfv-175-state,
.mfv-175-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-175-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-175-state { background-image: none; }
.mfv-175-state .m-layer1 { background-image: none; }

.mfv-182 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-182 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-182 { background-image: none; }
.mfv-182 .m-layer1 { background-image: none; }

.mfv-182.hovered { background-image: none; }
.mfv-182.hovered .m-layer1 { background-image: none; }

.mfv-182.selected { background-image: none; }
.mfv-182.selected .m-layer1 { background-image: none; }

.mfv-182.selected.hovered { background-image: none; }
.mfv-182.selected.hovered .m-layer1 { background-image: none; }
.mfv-182-state,
.mfv-182-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-182-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-182-state { background-image: none; }
.mfv-182-state .m-layer1 { background-image: none; }

.mfv-184 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-184 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-184 { background-image: none; }
.mfv-184 .m-layer1 { background-image: none; }

.mfv-184.hovered { background-image: none; }
.mfv-184.hovered .m-layer1 { background-image: none; }

.mfv-184.selected { background-image: none; }
.mfv-184.selected .m-layer1 { background-image: none; }

.mfv-184.selected.hovered { background-image: none; }
.mfv-184.selected.hovered .m-layer1 { background-image: none; }
.mfv-184-state,
.mfv-184-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-184-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-184-state { background-image: none; }
.mfv-184-state .m-layer1 { background-image: none; }

