
.mfv-72 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-72 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-72 { background-image: none; }
.mfv-72 .m-layer1 { background-image: none; }

.mfv-72.hovered { background-image: none; }
.mfv-72.hovered .m-layer1 { background-image: none; }

.mfv-72.selected { background-image: none; }
.mfv-72.selected .m-layer1 { background-image: none; }

.mfv-72.selected.hovered { background-image: none; }
.mfv-72.selected.hovered .m-layer1 { background-image: none; }
.mfv-72-state,
.mfv-72-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-72-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-72-state { background-image: none; }
.mfv-72-state .m-layer1 { background-image: none; }

.mfv-73 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-73 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-73 { background-image: none; }
.mfv-73 .m-layer1 { background-image: none; }

.mfv-73.hovered { background-image: none; }
.mfv-73.hovered .m-layer1 { background-image: none; }

.mfv-73.selected { background-image: none; }
.mfv-73.selected .m-layer1 { background-image: none; }

.mfv-73.selected.hovered { background-image: none; }
.mfv-73.selected.hovered .m-layer1 { background-image: none; }
.mfv-73-state,
.mfv-73-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-73-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-73-state { background-image: none; }
.mfv-73-state .m-layer1 { background-image: none; }

.mfv-74 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-74 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-74 { background-image: none; }
.mfv-74 .m-layer1 { background-image: none; }

.mfv-74.hovered { background-image: none; }
.mfv-74.hovered .m-layer1 { background-image: none; }

.mfv-74.selected { background-image: none; }
.mfv-74.selected .m-layer1 { background-image: none; }

.mfv-74.selected.hovered { background-image: none; }
.mfv-74.selected.hovered .m-layer1 { background-image: none; }
.mfv-74-state,
.mfv-74-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-74-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-74-state { background-image: none; }
.mfv-74-state .m-layer1 { background-image: none; }

.mfv-75 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-75 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-75 { background-image: none; }
.mfv-75 .m-layer1 { background-image: none; }

.mfv-75.hovered { background-image: none; }
.mfv-75.hovered .m-layer1 { background-image: none; }

.mfv-75.selected { background-image: none; }
.mfv-75.selected .m-layer1 { background-image: none; }

.mfv-75.selected.hovered { background-image: none; }
.mfv-75.selected.hovered .m-layer1 { background-image: none; }
.mfv-75-state,
.mfv-75-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-75-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-75-state { background-image: none; }
.mfv-75-state .m-layer1 { background-image: none; }

