
.mfv-34 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-34 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-34 { background-image: none; }
.mfv-34 .m-layer1 { background-image: none; }

.mfv-34.hovered { background-image: none; }
.mfv-34.hovered .m-layer1 { background-image: none; }

.mfv-34.selected { background-image: none; }
.mfv-34.selected .m-layer1 { background-image: none; }

.mfv-34.selected.hovered { background-image: none; }
.mfv-34.selected.hovered .m-layer1 { background-image: none; }
.mfv-34-state,
.mfv-34-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-34-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-34-state { background-image: none; }
.mfv-34-state .m-layer1 { background-image: none; }

.mfv-35 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-35 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-35 { background-image: none; }
.mfv-35 .m-layer1 { background-image: none; }

.mfv-35.hovered { background-image: none; }
.mfv-35.hovered .m-layer1 { background-image: none; }

.mfv-35.selected { background-image: none; }
.mfv-35.selected .m-layer1 { background-image: none; }

.mfv-35.selected.hovered { background-image: none; }
.mfv-35.selected.hovered .m-layer1 { background-image: none; }
.mfv-35-state,
.mfv-35-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-35-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-35-state { background-image: none; }
.mfv-35-state .m-layer1 { background-image: none; }

.mfv-36 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-36 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-36 { background-image: none; }
.mfv-36 .m-layer1 { background-image: none; }

.mfv-36.hovered { background-image: none; }
.mfv-36.hovered .m-layer1 { background-image: none; }

.mfv-36.selected { background-image: none; }
.mfv-36.selected .m-layer1 { background-image: none; }

.mfv-36.selected.hovered { background-image: none; }
.mfv-36.selected.hovered .m-layer1 { background-image: none; }
.mfv-36-state,
.mfv-36-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-36-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-36-state { background-image: none; }
.mfv-36-state .m-layer1 { background-image: none; }

.mfv-56 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-56 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-56 { background-image: none; }
.mfv-56 .m-layer1 { background-image: none; }

.mfv-56.hovered { background-image: none; }
.mfv-56.hovered .m-layer1 { background-image: none; }

.mfv-56.selected { background-image: none; }
.mfv-56.selected .m-layer1 { background-image: none; }

.mfv-56.selected.hovered { background-image: none; }
.mfv-56.selected.hovered .m-layer1 { background-image: none; }
.mfv-56-state,
.mfv-56-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-56-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-56-state { background-image: none; }
.mfv-56-state .m-layer1 { background-image: none; }

.mfv-68 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-68 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-68 { background-image: none; }
.mfv-68 .m-layer1 { background-image: none; }

.mfv-68.hovered { background-image: none; }
.mfv-68.hovered .m-layer1 { background-image: none; }

.mfv-68.selected { background-image: none; }
.mfv-68.selected .m-layer1 { background-image: none; }

.mfv-68.selected.hovered { background-image: none; }
.mfv-68.selected.hovered .m-layer1 { background-image: none; }
.mfv-68-state,
.mfv-68-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-68-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-68-state { background-image: none; }
.mfv-68-state .m-layer1 { background-image: none; }

.mfv-71 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-71 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-71 { background-image: none; }
.mfv-71 .m-layer1 { background-image: none; }

.mfv-71.hovered { background-image: none; }
.mfv-71.hovered .m-layer1 { background-image: none; }

.mfv-71.selected { background-image: none; }
.mfv-71.selected .m-layer1 { background-image: none; }

.mfv-71.selected.hovered { background-image: none; }
.mfv-71.selected.hovered .m-layer1 { background-image: none; }
.mfv-71-state,
.mfv-71-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-71-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-71-state { background-image: none; }
.mfv-71-state .m-layer1 { background-image: none; }

.mfv-76 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-76 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-76 { background-image: none; }
.mfv-76 .m-layer1 { background-image: none; }

.mfv-76.hovered { background-image: none; }
.mfv-76.hovered .m-layer1 { background-image: none; }

.mfv-76.selected { background-image: none; }
.mfv-76.selected .m-layer1 { background-image: none; }

.mfv-76.selected.hovered { background-image: none; }
.mfv-76.selected.hovered .m-layer1 { background-image: none; }
.mfv-76-state,
.mfv-76-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-76-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-76-state { background-image: none; }
.mfv-76-state .m-layer1 { background-image: none; }

.mfv-85 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-85 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-85 { background-image: none; }
.mfv-85 .m-layer1 { background-image: none; }

.mfv-85.hovered { background-image: none; }
.mfv-85.hovered .m-layer1 { background-image: none; }

.mfv-85.selected { background-image: none; }
.mfv-85.selected .m-layer1 { background-image: none; }

.mfv-85.selected.hovered { background-image: none; }
.mfv-85.selected.hovered .m-layer1 { background-image: none; }
.mfv-85-state,
.mfv-85-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-85-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-85-state { background-image: none; }
.mfv-85-state .m-layer1 { background-image: none; }

.mfv-98 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-98 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-98 { background-image: none; }
.mfv-98 .m-layer1 { background-image: none; }

.mfv-98.hovered { background-image: none; }
.mfv-98.hovered .m-layer1 { background-image: none; }

.mfv-98.selected { background-image: none; }
.mfv-98.selected .m-layer1 { background-image: none; }

.mfv-98.selected.hovered { background-image: none; }
.mfv-98.selected.hovered .m-layer1 { background-image: none; }
.mfv-98-state,
.mfv-98-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-98-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-98-state { background-image: none; }
.mfv-98-state .m-layer1 { background-image: none; }

.mfv-101 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-101 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-101 { background-image: none; }
.mfv-101 .m-layer1 { background-image: none; }

.mfv-101.hovered { background-image: none; }
.mfv-101.hovered .m-layer1 { background-image: none; }

.mfv-101.selected { background-image: none; }
.mfv-101.selected .m-layer1 { background-image: none; }

.mfv-101.selected.hovered { background-image: none; }
.mfv-101.selected.hovered .m-layer1 { background-image: none; }
.mfv-101-state,
.mfv-101-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-101-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-101-state { background-image: none; }
.mfv-101-state .m-layer1 { background-image: none; }

.mfv-110 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-110 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-110 { background-image: none; }
.mfv-110 .m-layer1 { background-image: none; }

.mfv-110.hovered { background-image: none; }
.mfv-110.hovered .m-layer1 { background-image: none; }

.mfv-110.selected { background-image: none; }
.mfv-110.selected .m-layer1 { background-image: none; }

.mfv-110.selected.hovered { background-image: none; }
.mfv-110.selected.hovered .m-layer1 { background-image: none; }
.mfv-110-state,
.mfv-110-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-110-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-110-state { background-image: none; }
.mfv-110-state .m-layer1 { background-image: none; }

.mfv-115 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-115 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-115 { background-image: none; }
.mfv-115 .m-layer1 { background-image: none; }

.mfv-115.hovered { background-image: none; }
.mfv-115.hovered .m-layer1 { background-image: none; }

.mfv-115.selected { background-image: none; }
.mfv-115.selected .m-layer1 { background-image: none; }

.mfv-115.selected.hovered { background-image: none; }
.mfv-115.selected.hovered .m-layer1 { background-image: none; }
.mfv-115-state,
.mfv-115-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-115-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-115-state { background-image: none; }
.mfv-115-state .m-layer1 { background-image: none; }

.mfv-119 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-119 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-119 { background-image: none; }
.mfv-119 .m-layer1 { background-image: none; }

.mfv-119.hovered { background-image: none; }
.mfv-119.hovered .m-layer1 { background-image: none; }

.mfv-119.selected { background-image: none; }
.mfv-119.selected .m-layer1 { background-image: none; }

.mfv-119.selected.hovered { background-image: none; }
.mfv-119.selected.hovered .m-layer1 { background-image: none; }
.mfv-119-state,
.mfv-119-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-119-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-119-state { background-image: none; }
.mfv-119-state .m-layer1 { background-image: none; }

.mfv-122 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-122 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-122 { background-image: none; }
.mfv-122 .m-layer1 { background-image: none; }

.mfv-122.hovered { background-image: none; }
.mfv-122.hovered .m-layer1 { background-image: none; }

.mfv-122.selected { background-image: none; }
.mfv-122.selected .m-layer1 { background-image: none; }

.mfv-122.selected.hovered { background-image: none; }
.mfv-122.selected.hovered .m-layer1 { background-image: none; }
.mfv-122-state,
.mfv-122-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-122-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-122-state { background-image: none; }
.mfv-122-state .m-layer1 { background-image: none; }

.mfv-127 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-127 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-127 { background-image: none; }
.mfv-127 .m-layer1 { background-image: none; }

.mfv-127.hovered { background-image: none; }
.mfv-127.hovered .m-layer1 { background-image: none; }

.mfv-127.selected { background-image: none; }
.mfv-127.selected .m-layer1 { background-image: none; }

.mfv-127.selected.hovered { background-image: none; }
.mfv-127.selected.hovered .m-layer1 { background-image: none; }
.mfv-127-state,
.mfv-127-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-127-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-127-state { background-image: none; }
.mfv-127-state .m-layer1 { background-image: none; }

.mfv-130 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-130 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-130 { background-image: none; }
.mfv-130 .m-layer1 { background-image: none; }

.mfv-130.hovered { background-image: none; }
.mfv-130.hovered .m-layer1 { background-image: none; }

.mfv-130.selected { background-image: none; }
.mfv-130.selected .m-layer1 { background-image: none; }

.mfv-130.selected.hovered { background-image: none; }
.mfv-130.selected.hovered .m-layer1 { background-image: none; }
.mfv-130-state,
.mfv-130-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-130-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-130-state { background-image: none; }
.mfv-130-state .m-layer1 { background-image: none; }

.mfv-134 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-134 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-134 { background-image: none; }
.mfv-134 .m-layer1 { background-image: none; }

.mfv-134.hovered { background-image: none; }
.mfv-134.hovered .m-layer1 { background-image: none; }

.mfv-134.selected { background-image: none; }
.mfv-134.selected .m-layer1 { background-image: none; }

.mfv-134.selected.hovered { background-image: none; }
.mfv-134.selected.hovered .m-layer1 { background-image: none; }
.mfv-134-state,
.mfv-134-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-134-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-134-state { background-image: none; }
.mfv-134-state .m-layer1 { background-image: none; }

.mfv-137 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-137 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-137 { background-image: none; }
.mfv-137 .m-layer1 { background-image: none; }

.mfv-137.hovered { background-image: none; }
.mfv-137.hovered .m-layer1 { background-image: none; }

.mfv-137.selected { background-image: none; }
.mfv-137.selected .m-layer1 { background-image: none; }

.mfv-137.selected.hovered { background-image: none; }
.mfv-137.selected.hovered .m-layer1 { background-image: none; }
.mfv-137-state,
.mfv-137-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-137-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-137-state { background-image: none; }
.mfv-137-state .m-layer1 { background-image: none; }

.mfv-139 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-139 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-139 { background-image: none; }
.mfv-139 .m-layer1 { background-image: none; }

.mfv-139.hovered { background-image: none; }
.mfv-139.hovered .m-layer1 { background-image: none; }

.mfv-139.selected { background-image: none; }
.mfv-139.selected .m-layer1 { background-image: none; }

.mfv-139.selected.hovered { background-image: none; }
.mfv-139.selected.hovered .m-layer1 { background-image: none; }
.mfv-139-state,
.mfv-139-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-139-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-139-state { background-image: none; }
.mfv-139-state .m-layer1 { background-image: none; }

.mfv-140 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-140 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-140 { background-image: none; }
.mfv-140 .m-layer1 { background-image: none; }

.mfv-140.hovered { background-image: none; }
.mfv-140.hovered .m-layer1 { background-image: none; }

.mfv-140.selected { background-image: none; }
.mfv-140.selected .m-layer1 { background-image: none; }

.mfv-140.selected.hovered { background-image: none; }
.mfv-140.selected.hovered .m-layer1 { background-image: none; }
.mfv-140-state,
.mfv-140-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-140-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-140-state { background-image: none; }
.mfv-140-state .m-layer1 { background-image: none; }

.mfv-142 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-142 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-142 { background-image: none; }
.mfv-142 .m-layer1 { background-image: none; }

.mfv-142.hovered { background-image: none; }
.mfv-142.hovered .m-layer1 { background-image: none; }

.mfv-142.selected { background-image: none; }
.mfv-142.selected .m-layer1 { background-image: none; }

.mfv-142.selected.hovered { background-image: none; }
.mfv-142.selected.hovered .m-layer1 { background-image: none; }
.mfv-142-state,
.mfv-142-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-142-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-142-state { background-image: none; }
.mfv-142-state .m-layer1 { background-image: none; }

.mfv-145 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-145 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-145 { background-image: none; }
.mfv-145 .m-layer1 { background-image: none; }

.mfv-145.hovered { background-image: none; }
.mfv-145.hovered .m-layer1 { background-image: none; }

.mfv-145.selected { background-image: none; }
.mfv-145.selected .m-layer1 { background-image: none; }

.mfv-145.selected.hovered { background-image: none; }
.mfv-145.selected.hovered .m-layer1 { background-image: none; }
.mfv-145-state,
.mfv-145-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-145-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-145-state { background-image: none; }
.mfv-145-state .m-layer1 { background-image: none; }

.mfv-146 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-146 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-146 { background-image: none; }
.mfv-146 .m-layer1 { background-image: none; }

.mfv-146.hovered { background-image: none; }
.mfv-146.hovered .m-layer1 { background-image: none; }

.mfv-146.selected { background-image: none; }
.mfv-146.selected .m-layer1 { background-image: none; }

.mfv-146.selected.hovered { background-image: none; }
.mfv-146.selected.hovered .m-layer1 { background-image: none; }
.mfv-146-state,
.mfv-146-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-146-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-146-state { background-image: none; }
.mfv-146-state .m-layer1 { background-image: none; }

.mfv-147 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-147 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-147 { background-image: none; }
.mfv-147 .m-layer1 { background-image: none; }

.mfv-147.hovered { background-image: none; }
.mfv-147.hovered .m-layer1 { background-image: none; }

.mfv-147.selected { background-image: none; }
.mfv-147.selected .m-layer1 { background-image: none; }

.mfv-147.selected.hovered { background-image: none; }
.mfv-147.selected.hovered .m-layer1 { background-image: none; }
.mfv-147-state,
.mfv-147-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-147-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-147-state { background-image: none; }
.mfv-147-state .m-layer1 { background-image: none; }

.mfv-148 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-148 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-148 { background-image: none; }
.mfv-148 .m-layer1 { background-image: none; }

.mfv-148.hovered { background-image: none; }
.mfv-148.hovered .m-layer1 { background-image: none; }

.mfv-148.selected { background-image: none; }
.mfv-148.selected .m-layer1 { background-image: none; }

.mfv-148.selected.hovered { background-image: none; }
.mfv-148.selected.hovered .m-layer1 { background-image: none; }
.mfv-148-state,
.mfv-148-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-148-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-148-state { background-image: none; }
.mfv-148-state .m-layer1 { background-image: none; }

.mfv-151 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-151 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-151 { background-image: none; }
.mfv-151 .m-layer1 { background-image: none; }

.mfv-151.hovered { background-image: none; }
.mfv-151.hovered .m-layer1 { background-image: none; }

.mfv-151.selected { background-image: none; }
.mfv-151.selected .m-layer1 { background-image: none; }

.mfv-151.selected.hovered { background-image: none; }
.mfv-151.selected.hovered .m-layer1 { background-image: none; }
.mfv-151-state,
.mfv-151-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-151-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-151-state { background-image: none; }
.mfv-151-state .m-layer1 { background-image: none; }

.mfv-152 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-152 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-152 { background-image: none; }
.mfv-152 .m-layer1 { background-image: none; }

.mfv-152.hovered { background-image: none; }
.mfv-152.hovered .m-layer1 { background-image: none; }

.mfv-152.selected { background-image: none; }
.mfv-152.selected .m-layer1 { background-image: none; }

.mfv-152.selected.hovered { background-image: none; }
.mfv-152.selected.hovered .m-layer1 { background-image: none; }
.mfv-152-state,
.mfv-152-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-152-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-152-state { background-image: none; }
.mfv-152-state .m-layer1 { background-image: none; }

.mfv-153 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-153 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-153 { background-image: none; }
.mfv-153 .m-layer1 { background-image: none; }

.mfv-153.hovered { background-image: none; }
.mfv-153.hovered .m-layer1 { background-image: none; }

.mfv-153.selected { background-image: none; }
.mfv-153.selected .m-layer1 { background-image: none; }

.mfv-153.selected.hovered { background-image: none; }
.mfv-153.selected.hovered .m-layer1 { background-image: none; }
.mfv-153-state,
.mfv-153-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-153-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-153-state { background-image: none; }
.mfv-153-state .m-layer1 { background-image: none; }

.mfv-155 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-155 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-155 { background-image: none; }
.mfv-155 .m-layer1 { background-image: none; }

.mfv-155.hovered { background-image: none; }
.mfv-155.hovered .m-layer1 { background-image: none; }

.mfv-155.selected { background-image: none; }
.mfv-155.selected .m-layer1 { background-image: none; }

.mfv-155.selected.hovered { background-image: none; }
.mfv-155.selected.hovered .m-layer1 { background-image: none; }
.mfv-155-state,
.mfv-155-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-155-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-155-state { background-image: none; }
.mfv-155-state .m-layer1 { background-image: none; }

.mfv-165 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-165 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-165 { background-image: none; }
.mfv-165 .m-layer1 { background-image: none; }

.mfv-165.hovered { background-image: none; }
.mfv-165.hovered .m-layer1 { background-image: none; }

.mfv-165.selected { background-image: none; }
.mfv-165.selected .m-layer1 { background-image: none; }

.mfv-165.selected.hovered { background-image: none; }
.mfv-165.selected.hovered .m-layer1 { background-image: none; }
.mfv-165-state,
.mfv-165-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-165-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-165-state { background-image: none; }
.mfv-165-state .m-layer1 { background-image: none; }

.mfv-166 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-166 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-166 { background-image: none; }
.mfv-166 .m-layer1 { background-image: none; }

.mfv-166.hovered { background-image: none; }
.mfv-166.hovered .m-layer1 { background-image: none; }

.mfv-166.selected { background-image: none; }
.mfv-166.selected .m-layer1 { background-image: none; }

.mfv-166.selected.hovered { background-image: none; }
.mfv-166.selected.hovered .m-layer1 { background-image: none; }
.mfv-166-state,
.mfv-166-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-166-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-166-state { background-image: none; }
.mfv-166-state .m-layer1 { background-image: none; }

.mfv-170 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-170 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-170 { background-image: none; }
.mfv-170 .m-layer1 { background-image: none; }

.mfv-170.hovered { background-image: none; }
.mfv-170.hovered .m-layer1 { background-image: none; }

.mfv-170.selected { background-image: none; }
.mfv-170.selected .m-layer1 { background-image: none; }

.mfv-170.selected.hovered { background-image: none; }
.mfv-170.selected.hovered .m-layer1 { background-image: none; }
.mfv-170-state,
.mfv-170-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-170-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-170-state { background-image: none; }
.mfv-170-state .m-layer1 { background-image: none; }

.mfv-171 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-171 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-171 { background-image: none; }
.mfv-171 .m-layer1 { background-image: none; }

.mfv-171.hovered { background-image: none; }
.mfv-171.hovered .m-layer1 { background-image: none; }

.mfv-171.selected { background-image: none; }
.mfv-171.selected .m-layer1 { background-image: none; }

.mfv-171.selected.hovered { background-image: none; }
.mfv-171.selected.hovered .m-layer1 { background-image: none; }
.mfv-171-state,
.mfv-171-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-171-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-171-state { background-image: none; }
.mfv-171-state .m-layer1 { background-image: none; }

.mfv-172 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-172 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-172 { background-image: none; }
.mfv-172 .m-layer1 { background-image: none; }

.mfv-172.hovered { background-image: none; }
.mfv-172.hovered .m-layer1 { background-image: none; }

.mfv-172.selected { background-image: none; }
.mfv-172.selected .m-layer1 { background-image: none; }

.mfv-172.selected.hovered { background-image: none; }
.mfv-172.selected.hovered .m-layer1 { background-image: none; }
.mfv-172-state,
.mfv-172-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-172-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-172-state { background-image: none; }
.mfv-172-state .m-layer1 { background-image: none; }

.mfv-173 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-173 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-173 { background-image: none; }
.mfv-173 .m-layer1 { background-image: none; }

.mfv-173.hovered { background-image: none; }
.mfv-173.hovered .m-layer1 { background-image: none; }

.mfv-173.selected { background-image: none; }
.mfv-173.selected .m-layer1 { background-image: none; }

.mfv-173.selected.hovered { background-image: none; }
.mfv-173.selected.hovered .m-layer1 { background-image: none; }
.mfv-173-state,
.mfv-173-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-173-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-173-state { background-image: none; }
.mfv-173-state .m-layer1 { background-image: none; }

.mfv-176 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-176 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-176 { background-image: none; }
.mfv-176 .m-layer1 { background-image: none; }

.mfv-176.hovered { background-image: none; }
.mfv-176.hovered .m-layer1 { background-image: none; }

.mfv-176.selected { background-image: none; }
.mfv-176.selected .m-layer1 { background-image: none; }

.mfv-176.selected.hovered { background-image: none; }
.mfv-176.selected.hovered .m-layer1 { background-image: none; }
.mfv-176-state,
.mfv-176-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-176-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-176-state { background-image: none; }
.mfv-176-state .m-layer1 { background-image: none; }

.mfv-177 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-177 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-177 { background-image: none; }
.mfv-177 .m-layer1 { background-image: none; }

.mfv-177.hovered { background-image: none; }
.mfv-177.hovered .m-layer1 { background-image: none; }

.mfv-177.selected { background-image: none; }
.mfv-177.selected .m-layer1 { background-image: none; }

.mfv-177.selected.hovered { background-image: none; }
.mfv-177.selected.hovered .m-layer1 { background-image: none; }
.mfv-177-state,
.mfv-177-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-177-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-177-state { background-image: none; }
.mfv-177-state .m-layer1 { background-image: none; }

.mfv-186 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-186 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-186 { background-image: none; }
.mfv-186 .m-layer1 { background-image: none; }

.mfv-186.hovered { background-image: none; }
.mfv-186.hovered .m-layer1 { background-image: none; }

.mfv-186.selected { background-image: none; }
.mfv-186.selected .m-layer1 { background-image: none; }

.mfv-186.selected.hovered { background-image: none; }
.mfv-186.selected.hovered .m-layer1 { background-image: none; }
.mfv-186-state,
.mfv-186-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-186-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-186-state { background-image: none; }
.mfv-186-state .m-layer1 { background-image: none; }

.mfv-188 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-188 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-188 { background-image: none; }
.mfv-188 .m-layer1 { background-image: none; }

.mfv-188.hovered { background-image: none; }
.mfv-188.hovered .m-layer1 { background-image: none; }

.mfv-188.selected { background-image: none; }
.mfv-188.selected .m-layer1 { background-image: none; }

.mfv-188.selected.hovered { background-image: none; }
.mfv-188.selected.hovered .m-layer1 { background-image: none; }
.mfv-188-state,
.mfv-188-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-188-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-188-state { background-image: none; }
.mfv-188-state .m-layer1 { background-image: none; }

.mfv-189 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-189 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-189 { background-image: none; }
.mfv-189 .m-layer1 { background-image: none; }

.mfv-189.hovered { background-image: none; }
.mfv-189.hovered .m-layer1 { background-image: none; }

.mfv-189.selected { background-image: none; }
.mfv-189.selected .m-layer1 { background-image: none; }

.mfv-189.selected.hovered { background-image: none; }
.mfv-189.selected.hovered .m-layer1 { background-image: none; }
.mfv-189-state,
.mfv-189-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-189-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-189-state { background-image: none; }
.mfv-189-state .m-layer1 { background-image: none; }

.mfv-191 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-191 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-191 { background-image: none; }
.mfv-191 .m-layer1 { background-image: none; }

.mfv-191.hovered { background-image: none; }
.mfv-191.hovered .m-layer1 { background-image: none; }

.mfv-191.selected { background-image: none; }
.mfv-191.selected .m-layer1 { background-image: none; }

.mfv-191.selected.hovered { background-image: none; }
.mfv-191.selected.hovered .m-layer1 { background-image: none; }
.mfv-191-state,
.mfv-191-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-191-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-191-state { background-image: none; }
.mfv-191-state .m-layer1 { background-image: none; }

.mfv-192 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-192 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-192 { background-image: none; }
.mfv-192 .m-layer1 { background-image: none; }

.mfv-192.hovered { background-image: none; }
.mfv-192.hovered .m-layer1 { background-image: none; }

.mfv-192.selected { background-image: none; }
.mfv-192.selected .m-layer1 { background-image: none; }

.mfv-192.selected.hovered { background-image: none; }
.mfv-192.selected.hovered .m-layer1 { background-image: none; }
.mfv-192-state,
.mfv-192-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-192-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-192-state { background-image: none; }
.mfv-192-state .m-layer1 { background-image: none; }

.mfv-193 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-193 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-193 { background-image: none; }
.mfv-193 .m-layer1 { background-image: none; }

.mfv-193.hovered { background-image: none; }
.mfv-193.hovered .m-layer1 { background-image: none; }

.mfv-193.selected { background-image: none; }
.mfv-193.selected .m-layer1 { background-image: none; }

.mfv-193.selected.hovered { background-image: none; }
.mfv-193.selected.hovered .m-layer1 { background-image: none; }
.mfv-193-state,
.mfv-193-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-193-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-193-state { background-image: none; }
.mfv-193-state .m-layer1 { background-image: none; }

.mfv-195 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-195 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-195 { background-image: none; }
.mfv-195 .m-layer1 { background-image: none; }

.mfv-195.hovered { background-image: none; }
.mfv-195.hovered .m-layer1 { background-image: none; }

.mfv-195.selected { background-image: none; }
.mfv-195.selected .m-layer1 { background-image: none; }

.mfv-195.selected.hovered { background-image: none; }
.mfv-195.selected.hovered .m-layer1 { background-image: none; }
.mfv-195-state,
.mfv-195-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-195-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-195-state { background-image: none; }
.mfv-195-state .m-layer1 { background-image: none; }

.mfv-197 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-197 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-197 { background-image: none; }
.mfv-197 .m-layer1 { background-image: none; }

.mfv-197.hovered { background-image: none; }
.mfv-197.hovered .m-layer1 { background-image: none; }

.mfv-197.selected { background-image: none; }
.mfv-197.selected .m-layer1 { background-image: none; }

.mfv-197.selected.hovered { background-image: none; }
.mfv-197.selected.hovered .m-layer1 { background-image: none; }
.mfv-197-state,
.mfv-197-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-197-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-197-state { background-image: none; }
.mfv-197-state .m-layer1 { background-image: none; }

.mfv-198 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-198 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-198 { background-image: none; }
.mfv-198 .m-layer1 { background-image: none; }

.mfv-198.hovered { background-image: none; }
.mfv-198.hovered .m-layer1 { background-image: none; }

.mfv-198.selected { background-image: none; }
.mfv-198.selected .m-layer1 { background-image: none; }

.mfv-198.selected.hovered { background-image: none; }
.mfv-198.selected.hovered .m-layer1 { background-image: none; }
.mfv-198-state,
.mfv-198-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-198-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-198-state { background-image: none; }
.mfv-198-state .m-layer1 { background-image: none; }

