
.mfv-50 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-50 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-50 { background-image: none; }
.mfv-50 .m-layer1 { background-image: none; }

.mfv-50.hovered { background-image: none; }
.mfv-50.hovered .m-layer1 { background-image: none; }

.mfv-50.selected { background-image: none; }
.mfv-50.selected .m-layer1 { background-image: none; }

.mfv-50.selected.hovered { background-image: none; }
.mfv-50.selected.hovered .m-layer1 { background-image: none; }
.mfv-50-state,
.mfv-50-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-50-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-50-state { background-image: none; }
.mfv-50-state .m-layer1 { background-image: none; }

.mfv-51 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-51 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-51 { background-image: none; }
.mfv-51 .m-layer1 { background-image: none; }

.mfv-51.hovered { background-image: none; }
.mfv-51.hovered .m-layer1 { background-image: none; }

.mfv-51.selected { background-image: none; }
.mfv-51.selected .m-layer1 { background-image: none; }

.mfv-51.selected.hovered { background-image: none; }
.mfv-51.selected.hovered .m-layer1 { background-image: none; }
.mfv-51-state,
.mfv-51-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-51-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-51-state { background-image: none; }
.mfv-51-state .m-layer1 { background-image: none; }

.mfv-52 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-52 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-52 { background-image: none; }
.mfv-52 .m-layer1 { background-image: none; }

.mfv-52.hovered { background-image: none; }
.mfv-52.hovered .m-layer1 { background-image: none; }

.mfv-52.selected { background-image: none; }
.mfv-52.selected .m-layer1 { background-image: none; }

.mfv-52.selected.hovered { background-image: none; }
.mfv-52.selected.hovered .m-layer1 { background-image: none; }
.mfv-52-state,
.mfv-52-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-52-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-52-state { background-image: none; }
.mfv-52-state .m-layer1 { background-image: none; }

.mfv-63 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-63 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-63 { background-image: none; }
.mfv-63 .m-layer1 { background-image: none; }

.mfv-63.hovered { background-image: none; }
.mfv-63.hovered .m-layer1 { background-image: none; }

.mfv-63.selected { background-image: none; }
.mfv-63.selected .m-layer1 { background-image: none; }

.mfv-63.selected.hovered { background-image: none; }
.mfv-63.selected.hovered .m-layer1 { background-image: none; }
.mfv-63-state,
.mfv-63-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-63-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-63-state { background-image: none; }
.mfv-63-state .m-layer1 { background-image: none; }

.mfv-77 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-77 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-77 { background-image: none; }
.mfv-77 .m-layer1 { background-image: none; }

.mfv-77.hovered { background-image: none; }
.mfv-77.hovered .m-layer1 { background-image: none; }

.mfv-77.selected { background-image: none; }
.mfv-77.selected .m-layer1 { background-image: none; }

.mfv-77.selected.hovered { background-image: none; }
.mfv-77.selected.hovered .m-layer1 { background-image: none; }
.mfv-77-state,
.mfv-77-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-77-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-77-state { background-image: none; }
.mfv-77-state .m-layer1 { background-image: none; }

.mfv-78 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-78 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-78 { background-image: none; }
.mfv-78 .m-layer1 { background-image: none; }

.mfv-78.hovered { background-image: none; }
.mfv-78.hovered .m-layer1 { background-image: none; }

.mfv-78.selected { background-image: none; }
.mfv-78.selected .m-layer1 { background-image: none; }

.mfv-78.selected.hovered { background-image: none; }
.mfv-78.selected.hovered .m-layer1 { background-image: none; }
.mfv-78-state,
.mfv-78-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-78-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-78-state { background-image: none; }
.mfv-78-state .m-layer1 { background-image: none; }

.mfv-79 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-79 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-79 { background-image: none; }
.mfv-79 .m-layer1 { background-image: none; }

.mfv-79.hovered { background-image: none; }
.mfv-79.hovered .m-layer1 { background-image: none; }

.mfv-79.selected { background-image: none; }
.mfv-79.selected .m-layer1 { background-image: none; }

.mfv-79.selected.hovered { background-image: none; }
.mfv-79.selected.hovered .m-layer1 { background-image: none; }
.mfv-79-state,
.mfv-79-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-79-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-79-state { background-image: none; }
.mfv-79-state .m-layer1 { background-image: none; }

.mfv-81 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-81 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-81 { background-image: none; }
.mfv-81 .m-layer1 { background-image: none; }

.mfv-81.hovered { background-image: none; }
.mfv-81.hovered .m-layer1 { background-image: none; }

.mfv-81.selected { background-image: none; }
.mfv-81.selected .m-layer1 { background-image: none; }

.mfv-81.selected.hovered { background-image: none; }
.mfv-81.selected.hovered .m-layer1 { background-image: none; }
.mfv-81-state,
.mfv-81-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-81-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-81-state { background-image: none; }
.mfv-81-state .m-layer1 { background-image: none; }

.mfv-83 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-83 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-83 { background-image: none; }
.mfv-83 .m-layer1 { background-image: none; }

.mfv-83.hovered { background-image: none; }
.mfv-83.hovered .m-layer1 { background-image: none; }

.mfv-83.selected { background-image: none; }
.mfv-83.selected .m-layer1 { background-image: none; }

.mfv-83.selected.hovered { background-image: none; }
.mfv-83.selected.hovered .m-layer1 { background-image: none; }
.mfv-83-state,
.mfv-83-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-83-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-83-state { background-image: none; }
.mfv-83-state .m-layer1 { background-image: none; }

.mfv-92 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-92 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-92 { background-image: none; }
.mfv-92 .m-layer1 { background-image: none; }

.mfv-92.hovered { background-image: none; }
.mfv-92.hovered .m-layer1 { background-image: none; }

.mfv-92.selected { background-image: none; }
.mfv-92.selected .m-layer1 { background-image: none; }

.mfv-92.selected.hovered { background-image: none; }
.mfv-92.selected.hovered .m-layer1 { background-image: none; }
.mfv-92-state,
.mfv-92-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-92-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-92-state { background-image: none; }
.mfv-92-state .m-layer1 { background-image: none; }

.mfv-97 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-97 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-97 { background-image: none; }
.mfv-97 .m-layer1 { background-image: none; }

.mfv-97.hovered { background-image: none; }
.mfv-97.hovered .m-layer1 { background-image: none; }

.mfv-97.selected { background-image: none; }
.mfv-97.selected .m-layer1 { background-image: none; }

.mfv-97.selected.hovered { background-image: none; }
.mfv-97.selected.hovered .m-layer1 { background-image: none; }
.mfv-97-state,
.mfv-97-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-97-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-97-state { background-image: none; }
.mfv-97-state .m-layer1 { background-image: none; }

.mfv-108 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-108 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-108 { background-image: none; }
.mfv-108 .m-layer1 { background-image: none; }

.mfv-108.hovered { background-image: none; }
.mfv-108.hovered .m-layer1 { background-image: none; }

.mfv-108.selected { background-image: none; }
.mfv-108.selected .m-layer1 { background-image: none; }

.mfv-108.selected.hovered { background-image: none; }
.mfv-108.selected.hovered .m-layer1 { background-image: none; }
.mfv-108-state,
.mfv-108-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-108-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-108-state { background-image: none; }
.mfv-108-state .m-layer1 { background-image: none; }

.mfv-112 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-112 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-112 { background-image: none; }
.mfv-112 .m-layer1 { background-image: none; }

.mfv-112.hovered { background-image: none; }
.mfv-112.hovered .m-layer1 { background-image: none; }

.mfv-112.selected { background-image: none; }
.mfv-112.selected .m-layer1 { background-image: none; }

.mfv-112.selected.hovered { background-image: none; }
.mfv-112.selected.hovered .m-layer1 { background-image: none; }
.mfv-112-state,
.mfv-112-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-112-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-112-state { background-image: none; }
.mfv-112-state .m-layer1 { background-image: none; }

.mfv-132 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-132 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-132 { background-image: none; }
.mfv-132 .m-layer1 { background-image: none; }

.mfv-132.hovered { background-image: none; }
.mfv-132.hovered .m-layer1 { background-image: none; }

.mfv-132.selected { background-image: none; }
.mfv-132.selected .m-layer1 { background-image: none; }

.mfv-132.selected.hovered { background-image: none; }
.mfv-132.selected.hovered .m-layer1 { background-image: none; }
.mfv-132-state,
.mfv-132-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-132-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-132-state { background-image: none; }
.mfv-132-state .m-layer1 { background-image: none; }

.mfv-133 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-133 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-133 { background-image: none; }
.mfv-133 .m-layer1 { background-image: none; }

.mfv-133.hovered { background-image: none; }
.mfv-133.hovered .m-layer1 { background-image: none; }

.mfv-133.selected { background-image: none; }
.mfv-133.selected .m-layer1 { background-image: none; }

.mfv-133.selected.hovered { background-image: none; }
.mfv-133.selected.hovered .m-layer1 { background-image: none; }
.mfv-133-state,
.mfv-133-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-133-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-133-state { background-image: none; }
.mfv-133-state .m-layer1 { background-image: none; }

.mfv-136 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-136 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-136 { background-image: none; }
.mfv-136 .m-layer1 { background-image: none; }

.mfv-136.hovered { background-image: none; }
.mfv-136.hovered .m-layer1 { background-image: none; }

.mfv-136.selected { background-image: none; }
.mfv-136.selected .m-layer1 { background-image: none; }

.mfv-136.selected.hovered { background-image: none; }
.mfv-136.selected.hovered .m-layer1 { background-image: none; }
.mfv-136-state,
.mfv-136-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-136-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-136-state { background-image: none; }
.mfv-136-state .m-layer1 { background-image: none; }

.mfv-149 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-149 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-149 { background-image: none; }
.mfv-149 .m-layer1 { background-image: none; }

.mfv-149.hovered { background-image: none; }
.mfv-149.hovered .m-layer1 { background-image: none; }

.mfv-149.selected { background-image: none; }
.mfv-149.selected .m-layer1 { background-image: none; }

.mfv-149.selected.hovered { background-image: none; }
.mfv-149.selected.hovered .m-layer1 { background-image: none; }
.mfv-149-state,
.mfv-149-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-149-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-149-state { background-image: none; }
.mfv-149-state .m-layer1 { background-image: none; }

.mfv-150 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-150 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-150 { background-image: none; }
.mfv-150 .m-layer1 { background-image: none; }

.mfv-150.hovered { background-image: none; }
.mfv-150.hovered .m-layer1 { background-image: none; }

.mfv-150.selected { background-image: none; }
.mfv-150.selected .m-layer1 { background-image: none; }

.mfv-150.selected.hovered { background-image: none; }
.mfv-150.selected.hovered .m-layer1 { background-image: none; }
.mfv-150-state,
.mfv-150-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-150-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-150-state { background-image: none; }
.mfv-150-state .m-layer1 { background-image: none; }

.mfv-156 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-156 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-156 { background-image: none; }
.mfv-156 .m-layer1 { background-image: none; }

.mfv-156.hovered { background-image: none; }
.mfv-156.hovered .m-layer1 { background-image: none; }

.mfv-156.selected { background-image: none; }
.mfv-156.selected .m-layer1 { background-image: none; }

.mfv-156.selected.hovered { background-image: none; }
.mfv-156.selected.hovered .m-layer1 { background-image: none; }
.mfv-156-state,
.mfv-156-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-156-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-156-state { background-image: none; }
.mfv-156-state .m-layer1 { background-image: none; }

.mfv-158 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-158 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-158 { background-image: none; }
.mfv-158 .m-layer1 { background-image: none; }

.mfv-158.hovered { background-image: none; }
.mfv-158.hovered .m-layer1 { background-image: none; }

.mfv-158.selected { background-image: none; }
.mfv-158.selected .m-layer1 { background-image: none; }

.mfv-158.selected.hovered { background-image: none; }
.mfv-158.selected.hovered .m-layer1 { background-image: none; }
.mfv-158-state,
.mfv-158-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-158-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-158-state { background-image: none; }
.mfv-158-state .m-layer1 { background-image: none; }

