
.mfv-39 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-39 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-39 { background-image: none; }
.mfv-39 .m-layer1 { background-image: none; }

.mfv-39.hovered { background-image: none; }
.mfv-39.hovered .m-layer1 { background-image: none; }

.mfv-39.selected { background-image: none; }
.mfv-39.selected .m-layer1 { background-image: none; }

.mfv-39.selected.hovered { background-image: none; }
.mfv-39.selected.hovered .m-layer1 { background-image: none; }
.mfv-39-state,
.mfv-39-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-39-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-39-state { background-image: none; }
.mfv-39-state .m-layer1 { background-image: none; }

.mfv-40 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-40 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-40 { background-image: none; }
.mfv-40 .m-layer1 { background-image: none; }

.mfv-40.hovered { background-image: none; }
.mfv-40.hovered .m-layer1 { background-image: none; }

.mfv-40.selected { background-image: none; }
.mfv-40.selected .m-layer1 { background-image: none; }

.mfv-40.selected.hovered { background-image: none; }
.mfv-40.selected.hovered .m-layer1 { background-image: none; }
.mfv-40-state,
.mfv-40-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-40-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-40-state { background-image: none; }
.mfv-40-state .m-layer1 { background-image: none; }

.mfv-41 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-41 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-41 { background-image: none; }
.mfv-41 .m-layer1 { background-image: none; }

.mfv-41.hovered { background-image: none; }
.mfv-41.hovered .m-layer1 { background-image: none; }

.mfv-41.selected { background-image: none; }
.mfv-41.selected .m-layer1 { background-image: none; }

.mfv-41.selected.hovered { background-image: none; }
.mfv-41.selected.hovered .m-layer1 { background-image: none; }
.mfv-41-state,
.mfv-41-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-41-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-41-state { background-image: none; }
.mfv-41-state .m-layer1 { background-image: none; }

.mfv-84 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-84 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-84 { background-image: none; }
.mfv-84 .m-layer1 { background-image: none; }

.mfv-84.hovered { background-image: none; }
.mfv-84.hovered .m-layer1 { background-image: none; }

.mfv-84.selected { background-image: none; }
.mfv-84.selected .m-layer1 { background-image: none; }

.mfv-84.selected.hovered { background-image: none; }
.mfv-84.selected.hovered .m-layer1 { background-image: none; }
.mfv-84-state,
.mfv-84-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-84-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-84-state { background-image: none; }
.mfv-84-state .m-layer1 { background-image: none; }

.mfv-86 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-86 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-86 { background-image: none; }
.mfv-86 .m-layer1 { background-image: none; }

.mfv-86.hovered { background-image: none; }
.mfv-86.hovered .m-layer1 { background-image: none; }

.mfv-86.selected { background-image: none; }
.mfv-86.selected .m-layer1 { background-image: none; }

.mfv-86.selected.hovered { background-image: none; }
.mfv-86.selected.hovered .m-layer1 { background-image: none; }
.mfv-86-state,
.mfv-86-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-86-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-86-state { background-image: none; }
.mfv-86-state .m-layer1 { background-image: none; }

.mfv-120 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-120 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-120 { background-image: none; }
.mfv-120 .m-layer1 { background-image: none; }

.mfv-120.hovered { background-image: none; }
.mfv-120.hovered .m-layer1 { background-image: none; }

.mfv-120.selected { background-image: none; }
.mfv-120.selected .m-layer1 { background-image: none; }

.mfv-120.selected.hovered { background-image: none; }
.mfv-120.selected.hovered .m-layer1 { background-image: none; }
.mfv-120-state,
.mfv-120-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-120-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-120-state { background-image: none; }
.mfv-120-state .m-layer1 { background-image: none; }

