
.mfv-6 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-6 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-6 { background-image: none; }
.mfv-6 .m-layer1 { background-image: none; }

.mfv-6.hovered { background-image: none; }
.mfv-6.hovered .m-layer1 { background-image: none; }

.mfv-6.selected { background-image: none; }
.mfv-6.selected .m-layer1 { background-image: none; }

.mfv-6.selected.hovered { background-image: none; }
.mfv-6.selected.hovered .m-layer1 { background-image: none; }
.mfv-6-state,
.mfv-6-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-6-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-6-state { background-image: none; }
.mfv-6-state .m-layer1 { background-image: none; }

.mfv-7 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-7 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-7 { background-image: none; }
.mfv-7 .m-layer1 { background-image: none; }

.mfv-7.hovered { background-image: none; }
.mfv-7.hovered .m-layer1 { background-image: none; }

.mfv-7.selected { background-image: none; }
.mfv-7.selected .m-layer1 { background-image: none; }

.mfv-7.selected.hovered { background-image: none; }
.mfv-7.selected.hovered .m-layer1 { background-image: none; }
.mfv-7-state,
.mfv-7-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-7-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-7-state { background-image: none; }
.mfv-7-state .m-layer1 { background-image: none; }

.mfv-8 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-8 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-8 { background-image: none; }
.mfv-8 .m-layer1 { background-image: none; }

.mfv-8.hovered { background-image: none; }
.mfv-8.hovered .m-layer1 { background-image: none; }

.mfv-8.selected { background-image: none; }
.mfv-8.selected .m-layer1 { background-image: none; }

.mfv-8.selected.hovered { background-image: none; }
.mfv-8.selected.hovered .m-layer1 { background-image: none; }
.mfv-8-state,
.mfv-8-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-8-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-8-state { background-image: none; }
.mfv-8-state .m-layer1 { background-image: none; }

.mfv-21 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-21 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-21 { background-image: none; }
.mfv-21 .m-layer1 { background-image: none; }

.mfv-21.hovered { background-image: none; }
.mfv-21.hovered .m-layer1 { background-image: none; }

.mfv-21.selected { background-image: none; }
.mfv-21.selected .m-layer1 { background-image: none; }

.mfv-21.selected.hovered { background-image: none; }
.mfv-21.selected.hovered .m-layer1 { background-image: none; }
.mfv-21-state,
.mfv-21-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21-state { background-image: none; }
.mfv-21-state .m-layer1 { background-image: none; }

.mfv-22 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-22 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-22 { background-image: none; }
.mfv-22 .m-layer1 { background-image: none; }

.mfv-22.hovered { background-image: none; }
.mfv-22.hovered .m-layer1 { background-image: none; }

.mfv-22.selected { background-image: none; }
.mfv-22.selected .m-layer1 { background-image: none; }

.mfv-22.selected.hovered { background-image: none; }
.mfv-22.selected.hovered .m-layer1 { background-image: none; }
.mfv-22-state,
.mfv-22-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-22-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-22-state { background-image: none; }
.mfv-22-state .m-layer1 { background-image: none; }

.mfv-23 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-23 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-23 { background-image: none; }
.mfv-23 .m-layer1 { background-image: none; }

.mfv-23.hovered { background-image: none; }
.mfv-23.hovered .m-layer1 { background-image: none; }

.mfv-23.selected { background-image: none; }
.mfv-23.selected .m-layer1 { background-image: none; }

.mfv-23.selected.hovered { background-image: none; }
.mfv-23.selected.hovered .m-layer1 { background-image: none; }
.mfv-23-state,
.mfv-23-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-23-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-23-state { background-image: none; }
.mfv-23-state .m-layer1 { background-image: none; }

.mfv-24 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-24 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-24 { background-image: none; }
.mfv-24 .m-layer1 { background-image: none; }

.mfv-24.hovered { background-image: none; }
.mfv-24.hovered .m-layer1 { background-image: none; }

.mfv-24.selected { background-image: none; }
.mfv-24.selected .m-layer1 { background-image: none; }

.mfv-24.selected.hovered { background-image: none; }
.mfv-24.selected.hovered .m-layer1 { background-image: none; }
.mfv-24-state,
.mfv-24-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-24-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-24-state { background-image: none; }
.mfv-24-state .m-layer1 { background-image: none; }

.mfv-25 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-25 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-25 { background-image: none; }
.mfv-25 .m-layer1 { background-image: none; }

.mfv-25.hovered { background-image: none; }
.mfv-25.hovered .m-layer1 { background-image: none; }

.mfv-25.selected { background-image: none; }
.mfv-25.selected .m-layer1 { background-image: none; }

.mfv-25.selected.hovered { background-image: none; }
.mfv-25.selected.hovered .m-layer1 { background-image: none; }
.mfv-25-state,
.mfv-25-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-25-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-25-state { background-image: none; }
.mfv-25-state .m-layer1 { background-image: none; }

.mfv-26 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-26 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-26 { background-image: none; }
.mfv-26 .m-layer1 { background-image: none; }

.mfv-26.hovered { background-image: none; }
.mfv-26.hovered .m-layer1 { background-image: none; }

.mfv-26.selected { background-image: none; }
.mfv-26.selected .m-layer1 { background-image: none; }

.mfv-26.selected.hovered { background-image: none; }
.mfv-26.selected.hovered .m-layer1 { background-image: none; }
.mfv-26-state,
.mfv-26-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-26-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-26-state { background-image: none; }
.mfv-26-state .m-layer1 { background-image: none; }

.mfv-27 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-27 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-27 { background-image: none; }
.mfv-27 .m-layer1 { background-image: none; }

.mfv-27.hovered { background-image: none; }
.mfv-27.hovered .m-layer1 { background-image: none; }

.mfv-27.selected { background-image: none; }
.mfv-27.selected .m-layer1 { background-image: none; }

.mfv-27.selected.hovered { background-image: none; }
.mfv-27.selected.hovered .m-layer1 { background-image: none; }
.mfv-27-state,
.mfv-27-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-27-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-27-state { background-image: none; }
.mfv-27-state .m-layer1 { background-image: none; }

.mfv-28 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-28 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-28 { background-image: none; }
.mfv-28 .m-layer1 { background-image: none; }

.mfv-28.hovered { background-image: none; }
.mfv-28.hovered .m-layer1 { background-image: none; }

.mfv-28.selected { background-image: none; }
.mfv-28.selected .m-layer1 { background-image: none; }

.mfv-28.selected.hovered { background-image: none; }
.mfv-28.selected.hovered .m-layer1 { background-image: none; }
.mfv-28-state,
.mfv-28-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-28-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-28-state { background-image: none; }
.mfv-28-state .m-layer1 { background-image: none; }

.mfv-29 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-29 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-29 { background-image: none; }
.mfv-29 .m-layer1 { background-image: none; }

.mfv-29.hovered { background-image: none; }
.mfv-29.hovered .m-layer1 { background-image: none; }

.mfv-29.selected { background-image: none; }
.mfv-29.selected .m-layer1 { background-image: none; }

.mfv-29.selected.hovered { background-image: none; }
.mfv-29.selected.hovered .m-layer1 { background-image: none; }
.mfv-29-state,
.mfv-29-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-29-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-29-state { background-image: none; }
.mfv-29-state .m-layer1 { background-image: none; }

.mfv-30 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-30 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-30 { background-image: none; }
.mfv-30 .m-layer1 { background-image: none; }

.mfv-30.hovered { background-image: none; }
.mfv-30.hovered .m-layer1 { background-image: none; }

.mfv-30.selected { background-image: none; }
.mfv-30.selected .m-layer1 { background-image: none; }

.mfv-30.selected.hovered { background-image: none; }
.mfv-30.selected.hovered .m-layer1 { background-image: none; }
.mfv-30-state,
.mfv-30-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-30-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-30-state { background-image: none; }
.mfv-30-state .m-layer1 { background-image: none; }

.mfv-31 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-31 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-31 { background-image: none; }
.mfv-31 .m-layer1 { background-image: none; }

.mfv-31.hovered { background-image: none; }
.mfv-31.hovered .m-layer1 { background-image: none; }

.mfv-31.selected { background-image: none; }
.mfv-31.selected .m-layer1 { background-image: none; }

.mfv-31.selected.hovered { background-image: none; }
.mfv-31.selected.hovered .m-layer1 { background-image: none; }
.mfv-31-state,
.mfv-31-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-31-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-31-state { background-image: none; }
.mfv-31-state .m-layer1 { background-image: none; }

.mfv-32 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-32 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-32 { background-image: none; }
.mfv-32 .m-layer1 { background-image: none; }

.mfv-32.hovered { background-image: none; }
.mfv-32.hovered .m-layer1 { background-image: none; }

.mfv-32.selected { background-image: none; }
.mfv-32.selected .m-layer1 { background-image: none; }

.mfv-32.selected.hovered { background-image: none; }
.mfv-32.selected.hovered .m-layer1 { background-image: none; }
.mfv-32-state,
.mfv-32-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-32-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-32-state { background-image: none; }
.mfv-32-state .m-layer1 { background-image: none; }

