img { border: none; }

/* image replacement */
.graphic {
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: -8000px;
}

/* // image replacement */
.jm-products-slider-listing {
	margin: 0 auto;
	position: relative;
	text-align: left;
	overflow: hidden;
}

.jm-products-slider-content{ 
	position: relative; 
	padding: 0;
}

/* Easy Slider */
.jm-slider { overflow: hidden; width: 0px; float: left;}

.jm-slider ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.jm-slider li {
	overflow: hidden;
	float: left;
	margin: 0 11px 0 0;
	text-align: center;
}

.jm-slider li img{
	border: 1px solid #ebebeb;
}

.jm-slider li span.price{
	font-size: 116%;
}

.jm-products-slider-horizon .jm-slider li span.price{
	font-size: 133%;
}

.jm-slider li .price-label{
	display: none;
}

.jm-slider li .old-price{
	display: none;
}

/*.jm-slider a { position: relative; } */

.jm-prev ,
.jm-next{
	background: #e1e1e1;
	color: #fff;
	cursor: pointer;
	border-top: 1px solid #d2d2d2;
	border-radius:5px;
	position: absolute;
	top: 4px;
	height: 29px;
	line-height: 28px;
	 -moz-border-radius:5px; 
	text-align: center;
	width: 30px;
	-webkit-border-radius:5px;
}

.jm-prev:hover ,
.jm-prev:focus ,
.jm-next:hover,
.jm-next:focus{
	background: #2ab3e6;
	border-top: 1px solid #17a3cf;
}

.jm-prev {
	right: 50px;
}

.jm-next {
	right: 10px;
}

.jm-slide-left-img,
.jm-slide-right-img {
	position: absolute;
	top: 70px;
	cursor: pointer;
	z-index:999;
}


/* scroller */
.has-hscrollbar {
	padding-bottom: 30px;
}

.customScrollerContainer {

}
.customScrollerContent {

}

/* SCROLLER STYLE */
/* VERTICAL */
.divVScrollerBar {
	width: 18px;
	margin-left: 1px;
}

/* ORIZONTAL */
.divOScrollerBar {
	height: 18px;
	margin-top: 1px;
}

/* AREA UP */
.divVScrollerBarUp {
	cursor: pointer;
	height: 17px;
}
/* AREA LEFT */
.divOScrollerBarLeft {
	cursor: pointer;
	width: 17px;
}
/* AREA DOWN */
.divVScrollerBarDown {
	cursor: pointer;
	height: 17px;
}
/* AREA RIGHT */
.divOScrollerBarRight {
	cursor: pointer;
	width: 17px;
}
/* ARROW UP AND DOWN */
.divVScrollerBarUp span,
.divVScrollerBarDown span {
	display: block;
	border: 1px solid #dae4eb;
	width: 16px;
	height: 15px;
	line-height: 0;
	font-size: 0;
}
.divVScrollerBarUp span {
	background: #baccda url(../images/vtop.gif) no-repeat center center;
}
.divVScrollerBarDown span {
	background: #baccda url(../images/vbottom.gif) no-repeat center center;
}
/* ARROW LEFT AND RIGHT */
.divOScrollerBarLeft span,
.divOScrollerBarRight span {
	display: block;
	
	height: 16px;
	width: 15px;
	line-height: 0;
	font-size: 0;
}
.divOScrollerBarLeft span {
	background: #ffffff url(../images/re-left.gif) no-repeat center center;
}
.divOScrollerBarRight span {
	background: #ffffff url(../images/re-right.gif) no-repeat center center;
}

/* ARROWS HOVER */
.divVScrollerBarUp span.hover,
.divOScrollerBarLeft span.hover,
.divVScrollerBarDown span.hover,
.divOScrollerBarRight span.hover {
	
	background-color: #527fa2;
}

/* TRACE */
.divVScrollerBarTrace, .divOScrollerBarTrace {
	background: url(../images/line.gif) repeat-x left center;
	line-height: 0;
	font-size: 0;
}

/* CURSORS */
.divVScrollerBarCursor {
	cursor: pointer;
}
.divOScrollerBarCursor {
	cursor: pointer;
}
.divVScrollerBarCursor span {
	display: block;
	border-left: 1px solid #dae4eb;
	border-right: 1px solid #dae4eb;
	height: 100%;
	width: 16px;
	background: #baccda url(../images/vcursor.gif) no-repeat center center;
	line-height: 0;
	font-size: 0;
}
.divOScrollerBarCursor span {
	display: block;
	border-top: 1px solid #dae4eb;
	border-bottom: 1px solid #dae4eb;
	height: 10px;
	width: 100%;
	background: #cccccc url(../images/ocursor.gif) no-repeat center center;
	font-size: 0;
	margin-top:3px;
}
/* CURSORS HOVER */
.divVScrollerBarCursor span.hover {
	border-left: 1px solid #a3bbce;
	border-right: 1px solid #a3bbce;
	background-color: #527fa2;
}
.divOScrollerBarCursor span.hover {
	border-top: 1px solid #a3bbce;
	border-bottom: 1px solid #a3bbce;
	background-color: #cccccc;
}

/* product horizon slide */
.jm-products-slider-horizon{
	margin: 0 20px 0 0 !important;
}

.jm-products-slider-horizon .jm-prev, 
.jm-products-slider-horizon .jm-next{
	top: 32px;
	right: 0px;
}

.jm-products-slider-horizon .jm-prev{
	right: 40px;
}

.jm-products-slider-horizon li{
	margin: 0px;
}

.jm-products-slider-horizon .products-grid .product-image{
	margin: 0 0 6px 0;
}

.jm-products-slider-horizon li img{
	border: 0 none;
}

.jm-products-slider-horizon span.price{
	font-size: 133%;
}

.jm-products-slider-horizon .item-slider{
	position: relative;
}

.jm-products-slider-horizon .ratings{
	margin: 7px auto;
	width: 120px;
}


/*product vertical slide*/
.jm-products-slider-vertical{
	margin: 0 0 0 5px !important;
}

.jm-products-slider-vertical .jm-prev, 
.jm-products-slider-vertical .jm-next{
	font-size: 133%;
	top: 17px;
	right: 0px;
}

.jm-products-slider-vertical .jm-prev{
	right: 40px;
}

.jm-products-slider-vertical li{
	text-align: left;
	margin: 0 0 10px 0;
}

.jm-products-slider-vertical li img{
	border: 0 none;
}

.jm-products-slider-vertical .product-image{
	float: left;
	margin: 0 15px 0 0;
}
