<?xml version="1.0"?>
<config>
     <default>
		<instantsearch>
			<general>
				<more_product_num>6</more_product_num>
				<thumb_image_width>80</thumb_image_width>		
				<search_in_name>1</search_in_name>				
				<search_in_tag>1</search_in_tag>
				<search_in_description>1</search_in_description>
				<search_description_type>3</search_description_type>
			</general>	
		</instantsearch>
	</default>
	<modules>
        <Magestore_Instantsearch>
            <version>0.2.2</version>
        </Magestore_Instantsearch>
    </modules>
    <frontend>
        <routers>
            <instantsearch>
                <use>standard</use>
                <args>
                    <module>Magestore_Instantsearch</module>
                    <frontName>instantsearch</frontName>
                </args>
            </instantsearch>
        </routers>
        <layout>
            <updates>
                <instantsearch>
                    <file>instantsearch.xml</file>
                </instantsearch>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Instantsearch>
                    <files>
                        <default>Magestore_Instantsearch.csv</default>
                    </files>
                </Magestore_Instantsearch>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<instantsearch>
				<use>admin</use>
				<args>
					<module>Magestore_Instantsearch</module>
					<frontName>instantsearch</frontName>
				</args>
			</instantsearch>
        </routers>
    </admin>
    <adminhtml>		
		<layout>
			<updates>
				<instantsearch>
					<file>instantsearch.xml</file>
				</instantsearch>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_adminhtml>
				<observers>
					<magestore_instantsearch_observer>
						<type>singleton</type>
						<class>instantsearch/observer</class>
						<method>controller_action_predispatch_adminhtml</method>
					</magestore_instantsearch_observer>
		       </observers>				
			</controller_action_predispatch_adminhtml>
		</events>			
    </adminhtml>   
    <global>
        
		<models>
			 <instantsearch>
                <class>Magestore_Instantsearch_Model</class>
            </instantsearch>
        </models>
		
        <resources>
            <instantsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </instantsearch_write>
            <instantsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </instantsearch_read>
        </resources>
        <blocks>
            <instantsearch>
                <class>Magestore_Instantsearch_Block</class>
            </instantsearch>
        </blocks>
        <helpers>
            <instantsearch>
                <class>Magestore_Instantsearch_Helper</class>				
            </instantsearch>
			
			<catalogsearch>
	            <rewrite>
	                <data>Magestore_Instantsearch_Helper_Catalogsearch</data>
	            </rewrite>
	        </catalogsearch>
        </helpers>
    </global>
</config>