<?xml version="1.0"?>

<config>
    <modules>
        <Sitemaster_CategoryBanner>
            <version>0.0.1</version>
        </Sitemaster_CategoryBanner>
    </modules>
    <global>
        <models>
            <sitemaster_categorybanner>
                <class>Sitemaster_CategoryBanner_Model</class>
            </sitemaster_categorybanner>
        </models>
        <helpers>
            <sitemaster_categorybanner>
                <class>Sitemaster_CategoryBanner_Helper</class>
            </sitemaster_categorybanner>
        </helpers>
    </global>
    <frontend>
        <events>
            <catalog_category_load_after>
                <observers>
                    <sitemaster_categorybanner>
                        <type>model</type>
                        <class>sitemaster_categorybanner/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </sitemaster_categorybanner>
                </observers>
            </catalog_category_load_after>
        </events>
    </frontend>
    <default>
        <sitemaster_categorybanner>
            <general>
                <active>1</active>
                <menumasla_staticblockid>2</menumasla_staticblockid>
                <menuorigin_staticblockid>2</menuorigin_staticblockid>
                <menusmazki_staticblockid>2</menusmazki_staticblockid>
                <menufiltra_staticblockid>2</menufiltra_staticblockid>
                <menuautohimia_staticblockid>2</menuautohimia_staticblockid>
                <menuautocosm_staticblockid>2</menuautocosm_staticblockid>
                <menuzapchasti_staticblockid>2</menuzapchasti_staticblockid>
                <menushini_staticblockid>2</menushini_staticblockid>
                <menuactii_staticblockid>2</menuactii_staticblockid>
                <menudefault_staticblockid>2</menudefault_staticblockid>
            </general>
        </sitemaster_categorybanner>
    </default>
</config>
