<?xml version="1.0"?>
<config>
    <modules>
        <JoomlArt_JmAdvanceSearch>
            <version>0.1.0</version>
        </JoomlArt_JmAdvanceSearch>
    </modules>
    <frontend>
        <routers>
            <jmadvancesearch>
                <use>standard</use>
                <args>
                    <module>JoomlArt_JmAdvanceSearch</module>
                    <frontName>jmadvancesearch</frontName>
                </args>
            </jmadvancesearch>
        </routers>
        <layout>
            <updates>
                <jmadvancesearch>
                    <file>jmadvancesearch.xml</file>
                </jmadvancesearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<jmadvancesearch>
				<use>admin</use>
				<args>
					<module>JoomlArt_JmAdvanceSearch</module>
					<frontName>jmadvancesearch</frontName>
				</args>
			</jmadvancesearch>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<joomlart module="jmadvancesearch">
				<title>Joomlart</title>
				<sort_order>100</sort_order>               
				<children>
					<jmadvancesearch module="jmadvancesearch">
						<title>JM Advance Search</title>
						<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/joomlart_jmadvancesearch</action>
					</jmadvancesearch>
				</children>
			</joomlart>
		</menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joomlart_jmadvancesearch>
                                            <title>JM Advance Search</title>
                                        </joomlart_jmadvancesearch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<jmadvancesearch>
					<file>jmadvancesearch.xml</file>
				</jmadvancesearch>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <jmadvancesearch>
                <class>JoomlArt_JmAdvanceSearch_Model</class>
                <resourceModel>jmadvancesearch_mysql4</resourceModel>
            </jmadvancesearch>
            <jmadvancesearch_mysql4>
                <class>JoomlArt_JmAdvanceSearch_Model_Mysql4</class>
                <entities>
                    <jmadvancesearch>
                        <table>jmadvancesearch</table>
                    </jmadvancesearch>
                </entities>
            </jmadvancesearch_mysql4>
        </models>
        <resources>
            <jmadvancesearch_setup>
                <setup>
                    <module>JoomlArt_JmAdvanceSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jmadvancesearch_setup>
            <jmadvancesearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jmadvancesearch_write>
            <jmadvancesearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jmadvancesearch_read>
        </resources>
        <blocks>
            <jmadvancesearch>
                <class>JoomlArt_JmAdvanceSearch_Block</class>
            </jmadvancesearch>
        </blocks>
        <helpers>
            <jmadvancesearch>
                <class>JoomlArt_JmAdvanceSearch_Helper</class>
            </jmadvancesearch>
        </helpers>
        <models>
            <catalogsearch>
                <rewrite>
                    <!-- Model -->
                    <advanced>JoomlArt_JmAdvanceSearch_Model_JmAdvanceSearch</advanced>
                </rewrite>
            </catalogsearch>
        </models>
        <blocks>
            <catalogsearch>
                <rewrite>
                    <advanced_form>JoomlArt_JmAdvanceSearch_Block_JmAdvanceSearch</advanced_form>
                </rewrite>
            </catalogsearch>
        </blocks>
    </global>
</config>