<?xml version="1.0"?>
<config>
    <modules>
        <JoomlArt_JmProducts>
            <version>0.1.1</version>
        </JoomlArt_JmProducts>
    </modules>
    <frontend>
        <routers>
            <jmproducts>
                <use>standard</use>
                <args>
                    <module>JoomlArt_JmProducts</module>
                    <frontName>jmproducts</frontName>
                </args>
            </jmproducts>
        </routers>
        <translate>
            <modules>
                <JoomlArt_JmProducts>
                    <files>
                        <default>JoomlArt_JmProducts.csv</default>
                    </files>
                </JoomlArt_JmProducts>
            </modules>
        </translate>
        <layout>
            <updates>
                <jmproducts>
                    <file>jmproducts.xml</file>
                </jmproducts>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <joomlart_jmproducts>
                <class>JoomlArt_JmProducts_Block</class>
            </joomlart_jmproducts>
        </blocks>
        <models>
            <joomlart_jmproducts>
                <class>JoomlArt_JmProducts_Model</class>
            </joomlart_jmproducts>
        </models>
        <helpers>
            <joomlart_jmproducts>
                <class>JoomlArt_JmProducts_Helper</class>
            </joomlart_jmproducts>
        </helpers>
        <resources>
            <jmproducts_setup>
                <setup>
                    <module>JoomlArt_JmProducts</module>
                    <class>JoomlArt_JmProducts_Model_Resource_Setup</class>
                </setup>
            </jmproducts_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <JoomlArt_JmProducts before="Mage_Adminhtml">JoomlArt_JmProducts</JoomlArt_JmProducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmproducts>
                        <title>JM Products</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/system_config/edit/section/joomlart_jmproducts</action>
                    </jmproducts>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joomlart_jmproducts>
                                            <title>JM Products List</title>
                                        </joomlart_jmproducts>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <JoomlArt_JmProducts>
                    <files>
                        <default>JoomlArt_JmProducts.csv</default>
                    </files>
                </JoomlArt_JmProducts>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <joomlart_jmproducts>
            <joomlart_jmproducts>
                <show>1</show>
                <mode>latest</mode>
                <title>JM Product List</title>
                <quanlity>8</quanlity>
                <quanlityperpage>8</quanlityperpage>
                <template>joomlart/jmproducts/list.phtml</template>
                <perrow>3</perrow>
                <width>135</width>
                <height>135</height>
                <max>0</max>
                <widthtable>135</widthtable>
                <heighttable>135</heighttable>
                <quanlitytable>8</quanlitytable>
                <quanlityperpagetable>8</quanlityperpagetable>
                 <perrowtablet>3</perrowtablet>
                 <widthmobile>135</widthmobile>
                <heightmobile>135</heightmobile>
                <quanlitymobile>8</quanlitymobile>
                <quanlityperpagemobile>8</quanlityperpagemobile>
                 <perrowmobile>3</perrowmobile>
            </joomlart_jmproducts>
        </joomlart_jmproducts>
    </default>

</config>  