/* CSS Document */
.row_wavethemes_jmbasetheme_wavethemes_jmbasetheme_title{
   background-color:#CCCCCC;
}

.columns .form-list td.value {
  width: 400px;
}
 #row_wavethemes_jmbasetheme_jmbasethemegeneral_profilejson button {
  margin-right: 10px; 
 }
 .form-list td.label label {
 
  width: 285px;
}