<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Clickcheckout>
            <version>1.1.2</version><platform>ce</platform>
        </AW_Clickcheckout>
    </modules>
    <frontend>
        <routers>
            <awclickcheckout>
                <use>standard</use>
                <args>
                    <module>AW_Clickcheckout</module>
                    <frontName>awclickcheckout</frontName>
                </args>
            </awclickcheckout>
        </routers>
        <layout>
            <updates>
                <awclickcheckout module="awclickcheckout">
                    <file>aw_clickcheckout.xml</file>
                </awclickcheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Clickcheckout>
                    <files>
                        <default>AW_Clickcheckout.csv</default>
                    </files>
                </AW_Clickcheckout>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <awclickcheckout>
                <class>AW_Clickcheckout_Block</class>
            </awclickcheckout>
        </blocks>
        <helpers>
            <awclickcheckout>
                <class>AW_Clickcheckout_Helper</class>
            </awclickcheckout>
        </helpers>
        <models>
            <awclickcheckout>
                <class>AW_Clickcheckout_Model</class>
            </awclickcheckout>
        </models>
        <resources>
            <awclickcheckout_setup>
                <setup>
                    <module>AW_Clickcheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awclickcheckout_setup>
            <awclickcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awclickcheckout_write>
            <awclickcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awclickcheckout_read>
        </resources>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <awclickcheckout_checkout_cart_add_predispatch>
                        <type>singleton</type>
                        <class>awclickcheckout/observer</class>
                        <method>predispatchCheckoutCartAdd</method>
                    </awclickcheckout_checkout_cart_add_predispatch>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <http_response_send_before>
                <observers>
                    <modifyheader>
                        <type>singleton</type>
                        <class>awclickcheckout/observer</class>
                        <method>provideIE9Compatibility</method>
                    </modifyheader>
                </observers>
            </http_response_send_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <awclickcheckout_observer>
                        <type>singleton</type>
                        <class>awclickcheckout/observer</class>
                        <method>addToCartEvent</method>
                    </awclickcheckout_observer>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </global>
    <admin>
        <routers>
            <awclickcheckout_admin>
                <use>admin</use>
                <args>
                    <module>AW_Clickcheckout</module>
                    <frontName>awclickcheckout_admin</frontName>
                </args>
            </awclickcheckout_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Clickcheckout>
                    <files>
                        <default>AW_Clickcheckout.csv</default>
                    </files>
                </AW_Clickcheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <awclickcheckout>
                                    <title>AW Clickcheckout</title>
                                    <sort_order>10</sort_order>
                                </awclickcheckout>
                            </children>
                        </cms>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awclickcheckout>
                                            <title>One Click Checkout Section</title>
                                        </awclickcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <awclickcheckout module="awclickcheckout">
                    <file>aw_clickcheckout.xml</file>
                </awclickcheckout>
            </updates>
        </layout>
    </adminhtml>
</config>
