<?xml version="1.0"?>
<config>
    <modules>
        <Wavethemes_Jmbasetheme>
            <version>0.1.0</version>
        </Wavethemes_Jmbasetheme>
    </modules>
    <frontend>
        <routers>
            <jmbasetheme>
                <use>standard</use>
                <args>
                    <module>Wavethemes_Jmbasetheme</module>
                    <frontName>jmbasetheme</frontName>
                </args>
            </jmbasetheme>
        </routers>
        <layout>
            <updates>
                <jmbasetheme>
                    <file>jmbasetheme.xml</file>
                </jmbasetheme>
            </updates>
        </layout>
        <events>
            <http_response_send_before>
                <observers>
                    <wavethemes_jmbasetheme>
                        <class>Wavethemes_Jmbasetheme_Model_Observer</class>
                        <method>changeBody</method>
                    </wavethemes_jmbasetheme>
                </observers>
            </http_response_send_before>
        </events>
    </frontend>
    <global>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <wavethemes_jmbasetheme>
                        <class>Wavethemes_Jmbasetheme_Model_Observer</class>
                        <method>saveprofile</method>
                    </wavethemes_jmbasetheme>
                </observers>
            </admin_system_config_section_save_after>
            <adminhtml_init_system_config>
                <observers>
                    <wavethemes_jmbasetheme>
                        <class>Wavethemes_Jmbasetheme_Model_Observer</class>
                        <method>Extendconfig</method>
                    </wavethemes_jmbasetheme>
                </observers>
            </adminhtml_init_system_config>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <wavethemes_jmbasetheme>
                        <class>Wavethemes_Jmbasetheme_Model_Observer</class>
                        <method>resettoolbar</method>
                    </wavethemes_jmbasetheme>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <helpers>
            <jmbasetheme>
                <class>Wavethemes_Jmbasetheme_Helper</class>
            </jmbasetheme>
        </helpers>
        <blocks>
            <jmbasetheme>
                <class>Wavethemes_Jmbasetheme_Block</class>
            </jmbasetheme>
        </blocks>
        <models>
            <jmbasetheme>
                <class>Wavethemes_Jmbasetheme_Model</class>
            </jmbasetheme>
        </models>
    </global>
    <admin>
        <routers>
            <jmbasetheme>
                <use>admin</use>
                <args>
                    <module>Wavethemes_Jmbasetheme</module>
                    <frontName>jmbasetheme</frontName>
                </args>
            </jmbasetheme>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmbasetheme module="jmbasetheme">
                        <title>JM Base Theme</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/system_config/edit/section/wavethemes_jmbasetheme</action>
                        <!--
                        <children>
                            <setting module="admin">
                                <title>Settings</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/wavethemes_jmbasetheme</action>
                            </setting>
                        </children>-->
                    </jmbasetheme>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <jmbasetheme translate="title" module="jmbasetheme">
                            <title>Jmbasetheme</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <jmbasethemebackend translate="title">
                                    <title>Backend Page Title</title>
                                </jmbasethemebackend>
                            </children>
                        </jmbasetheme>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <jmbasetheme>
                    <file>jmbasetheme.xml</file>
                </jmbasetheme>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wavethemes_Jmbasetheme>
                    <files>
                        <default>Wavethemes_Jmbasetheme.csv</default>
                    </files>
                </Wavethemes_Jmbasetheme>
            </modules>
        </translate>
    </adminhtml>
</config> 