<?xml version="1.0"?>  
<config>  
	<modules>  
		<JoomlArt_JmMasshead>  
			<version>0.1.1</version>  
		</JoomlArt_JmMasshead>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<JoomlArt_JmMasshead>
					<files>
						<default>JoomlArt_JmMasshead.csv</default>
					</files>
				</JoomlArt_JmMasshead>
			</modules>
		</translate>
		<layout>
			<updates>
				<jmmasshead>
					<file>jmmasshead.xml</file>
				</jmmasshead>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>  
			<joomlart_jmmasshead>  
				<class>JoomlArt_JmMasshead_Block</class>  
			</joomlart_jmmasshead>  
		</blocks> 		
		<models>  
			<joomlart_jmmasshead>  
				<class>JoomlArt_JmMasshead_Model</class>  
			</joomlart_jmmasshead>  
		</models>
		<helpers>  
			<joomlart_jmmasshead>  
				<class>JoomlArt_JmMasshead_Helper</class>  
			</joomlart_jmmasshead>  
		</helpers>
		<resources>
			<jmmasshead_setup>
				<setup>
					<module>JoomlArt_JmMasshead</module>
					<class>JoomlArt_JmMasshead_Model_Resource_Setup</class>
				</setup>
			</jmmasshead_setup>
         </resources>	
	</global>  
	<adminhtml>
		<menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmmasshead>
                        <title>JM Masshead</title>
                        <sort_order>5</sort_order>
                        <action>adminhtml/system_config/edit/section/joomlart_jmmasshead</action>
                    </jmmasshead>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joomlart_jmmasshead>
                                            <title>JM Masshead</title>
                                        </joomlart_jmmasshead>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
			<modules>
				<JoomlArt_JmMasshead>
					<files>
						<default>JoomlArt_JmMasshead.csv</default>
					</files>
				</JoomlArt_JmMasshead>
			</modules>
		</translate>
    </adminhtml>	
	<default>
        <joomlart_jmmasshead>
            <joomlart_jmmasshead>
                <show>1</show>                
            </joomlart_jmmasshead>
        </joomlart_jmmasshead>
    </default>	
	
</config>  