<?xml version="1.0"?>

<config>
    <modules>
        <Sitemaster_Checkout>
            <version>1.1.0</version>
        </Sitemaster_Checkout>
    </modules>
    <global>
        <models>
            <sitemaster_siterobot>
                <class>Sitemaster_Siterobot_Model</class>
            </sitemaster_siterobot>
        </models>
    </global>
    <crontab>
        <jobs>
            <sitemaster_siterobot_start>
                <schedule><cron_expr>35 4 * * *</cron_expr></schedule>
                <run><model>sitemaster_siterobot/observer::startRobot</model></run>
            </sitemaster_siterobot_start>
        </jobs>
    </crontab>
</config>
