<?xml version="1.0"?>
<!--
/**
 * Copyright (c) <2014>, <Rugento.ru>
 * License URL http://www.rugento.ru/oferta.html
 * Support URL http://support.rugento.ru
 * Support EMAIL support@rugento.ru
 */
-->
<config>
    <modules>
        <Rugento_Novaposhta>
            <version>1.0.9</version>
            <depends>
                <Mage_Shipping/>
            </depends>
        </Rugento_Novaposhta>
    </modules>
    <global>
        <models>
            <checkout>
                <rewrite>
                    <type_onepage>Rugento_Novaposhta_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order>Rugento_Novaposhta_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <novaposhta>
                <class>Rugento_Novaposhta_Model</class>
                <resourceModel>novaposhta_resource</resourceModel>
            </novaposhta>
            <novaposhta_resource>
                <class>Rugento_Novaposhta_Model_Resource</class>
                <entities>
                    <novaposhta>
                        <table>novaposhta_order_warehouse</table>
                    </novaposhta>
                    <city>
                        <table>novaposhta_city</table>
                    </city>
                    <warehouse>
                        <table>novaposhta_warehouse</table>
                    </warehouse>
                </entities>
            </novaposhta_resource>
        </models>
        <helpers>
            <novaposhta>
                <class>Rugento_Novaposhta_Helper</class>
            </novaposhta>
        </helpers>
        <blocks>
            <novaposhta>
                <class>Rugento_Novaposhta_Block</class>
            </novaposhta>
        </blocks>
        <resources>
            <novaposhta_setup>
                <setup>
                    <module>Rugento_Novaposhta</module>
                </setup>
            </novaposhta_setup>
        </resources>
        <sales>
            <shipping>
                <carriers>
                    <novaposhta>
                        <class>Rugento_Novaposhta_Model_Carrier_Novaposhta</class>
                    </novaposhta>
                </carriers>
            </shipping>
        </sales>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <checkout_controller_onepage_save_shipping_method_novaposhta>
                        <type>model</type>
                        <class>novaposhta/observer</class>
                        <method>saveShippingMethod</method>
                    </checkout_controller_onepage_save_shipping_method_novaposhta>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_model_service_quote_submit_after>
                <observers>
                    <checkout_controller_onepage_save_shipping_method_novaposhta>
                        <type>model</type>
                        <class>novaposhta/observer</class>
                        <method>saveOrderAfter</method>
                    </checkout_controller_onepage_save_shipping_method_novaposhta>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_quote_load_after>
                <observers>
                    <sales_quote_load_after_novaposhta>
                        <type>model</type>
                        <class>novaposhta/observer</class>
                        <method>loadQuoteAfter</method>
                    </sales_quote_load_after_novaposhta>
                </observers>
            </sales_quote_load_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after_novaposhta>
                        <type>model</type>
                        <class>novaposhta/observer</class>
                        <method>loadOrderAfter</method>
                    </sales_order_load_after_novaposhta>
                </observers>
            </sales_order_load_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <checkout_controller_onepage_save_shipping_method_novaposhta_admin>
                        <type>model</type>
                        <class>novaposhta/observer</class>
                        <method>loadOrderAfter</method>
                    </checkout_controller_onepage_save_shipping_method_novaposhta_admin>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Rugento_Novaposhta>
                    <files>
                        <default>Rugento_Novaposhta.csv</default>
                    </files>
                </Rugento_Novaposhta>
            </modules>
        </translate>
        <layout>
            <updates>
                <novaposhta module="novaposhta">
                    <file>novaposhta/novaposhta.xml</file>
                </novaposhta>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <novaposhta>
                <use>admin</use>
                <args>
                    <module>Rugento_Novaposhta</module>
                    <frontName>novaposhta</frontName>
                </args>
            </novaposhta>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Rugento_Novaposhta>
                    <files>
                        <Rugento_Novaposhta>Rugento_Novaposhta.csv</Rugento_Novaposhta>
                    </files>
                </Rugento_Novaposhta>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <novaposhta>
                                            <title>Nova Poshta</title>
                                        </novaposhta>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <carriers>
            <novaposhta>
                <active>0</active>
                <model>Rugento_Novaposhta_Model_Carrier_Novaposhta</model>
                <title>&#x41D;&#x43E;&#x432;&#x430; &#x41F;&#x43E;&#x448;&#x442;&#x430;</title>
                <name/>
                <weight_units>1</weight_units>
                <desc> {{city}}, {{address_ru}}, {{phone}}, {{weekday_work_hours}}
                </desc>
                <specificerrmsg>This shipping method is currently unavailable. If
                    you would like to ship using this shipping method, please contact
                    us.</specificerrmsg>
            </novaposhta>
        </carriers>
    </default>
</config>
