<?xml version="1.0"?>  
<config>  
	<modules>  
		<JoomlArt_JmProductsSlider>  
			<version>0.1.0</version>  
		</JoomlArt_JmProductsSlider>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<JoomlArt_JmProductsSlider>
					<files>
						<default>JoomlArt_JmProductsSlider.csv</default>
					</files>
				</JoomlArt_JmProductsSlider>
			</modules>
		</translate>
		<layout>
			<updates>
				<jmproductsslider>
					<file>jmproductsslider.xml</file>
				</jmproductsslider>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>  
			<joomlart_jmproductsslider>  
				<class>JoomlArt_JmProductsSlider_Block</class>  
			</joomlart_jmproductsslider>  
		</blocks> 		
		<models>  
			<joomlart_jmproductsslider>  
				<class>JoomlArt_JmProductsSlider_Model</class>  
			</joomlart_jmproductsslider>  
		</models>
		<helpers>  
			<joomlart_jmproductsslider>  
				<class>JoomlArt_JmProductsSlider_Helper</class>  
			</joomlart_jmproductsslider>  
		</helpers>	
	</global>  
	
	<adminhtml>
		<menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmproductsslider>
                        <title>JM ProductsSlider</title>
                        <sort_order>13</sort_order>
                        <action>adminhtml/system_config/edit/section/joomlart_jmproductsslider</action>
                    </jmproductsslider>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joomlart_jmproductsslider>
                                            <title>JM Products List</title>
                                        </joomlart_jmproductsslider>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
			<modules>
				<JoomlArt_JmProductsSlider>
					<files>
						<default>JoomlArt_JmProductsSlider.csv</default>
					</files>
				</JoomlArt_JmProductsSlider>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <joomlart_jmproductsslider>
            <joomlart_jmproductsslider>
                <show>1</show>                
                <title>JM Product Slider</title>                
                <height>100</height>                
                <width>100</width>                
                <mode>latest</mode>              
                <!--<catid>0</catid>  -->            
                <quanlity>8</quanlity>
				<template>joomlart/jmproductsslider/list.phtml</template>   
                <number_items>4</number_items>
				<show_desc>1</show_desc>
				<max>80</max>
                <show_price>1</show_price>
                <show_cart>0</show_cart>
                <autorun>1</autorun>
                <direction>left</direction>
                <delaytime>3000</delaytime>
                <animationtime>2000</animationtime>
            </joomlart_jmproductsslider>
        </joomlart_jmproductsslider>
    </default>
</config>  