<?xml version="1.0"?>

<config>
    <modules>
        <Sitemaster_Checkout>
            <version>1.1.0</version>
        </Sitemaster_Checkout>
    </modules>
    <global>
        <blocks>
            <sitemaster_checkout>
                <class>Sitemaster_Checkout_Block</class>
            </sitemaster_checkout>
        </blocks>
        <helpers>
            <sitemaster_checkout>
                <class>Sitemaster_Checkout_Helper</class>
            </sitemaster_checkout>
        </helpers>
        <models>
            <sitemaster_checkout>
                <class>Sitemaster_Checkout_Model</class>
                <resourceModel>sitemaster_checkout_resource</resourceModel>
            </sitemaster_checkout>
            <sitemaster_checkout_resource>
                <class>Sitemaster_Checkout_Model_Resource</class>
            </sitemaster_checkout_resource>
        </models>
        <resources>
            <sitemaster_checkout_setup>
                <setup>
                    <module>Sitemaster_Checkout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </sitemaster_checkout_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <sitemaster_checkout>
                <use>standard</use>
                <args>
                    <module>Sitemaster_Checkout</module>
                    <frontName>sitemaster_order</frontName>
                </args>
            </sitemaster_checkout>
        </routers>
        <layout>
            <updates>
                <sitemaster_checkout>
                    <file>sitemaster/checkout.xml</file>
                </sitemaster_checkout>
            </updates>
        </layout>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <sitemaster_checkout>
                        <class>sitemaster_checkout/observer</class>
                        <method>collectTotalsBefore</method>
                    </sitemaster_checkout>
                </observers>
            </sales_quote_collect_totals_before>
            <checkout_type_onepage_save_order>
                <observers>
                    <sitemaster_checkout>
                        <class>sitemaster_checkout/observer</class>
                        <method>addOrderComment</method>
                    </sitemaster_checkout>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_submit_all_after>
                <observers>
                    <sitemaster_checkout>
                        <class>sitemaster_checkout/observer</class>
                        <method>tryToProcessOrder</method>
                    </sitemaster_checkout>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <default>
        <checkout>
            <sitemaster>
                <default_country>UA</default_country>
                <default_region>Kyiv</default_region>
                <default_city>Kyiv</default_city>
                <use_default_country>0</use_default_country>
                <password_type>field</password_type>
                <location_type>few</location_type>
                <show_build_fields>0</show_build_fields>
                <show_newsletter>unchecked</show_newsletter>
                <newsletter_send_request>1</newsletter_send_request>
                <newsletter_send_success>1</newsletter_send_success>
                <shipping_dependent_sections>totals</shipping_dependent_sections>
                <payment_dependent_sections>totals</payment_dependent_sections>
                <checkout_css>.checkout-cart-index #additional-cart-info { display: none; }</checkout_css>
            </sitemaster>
        </checkout>
    </default>
</config>
